.hexagon {
  $hexagon-size: 10vh;
  //$hexagon-size: 150px;
  //$hexagon-color-1: #00ffb8;
  //$hexagon-color-2: #13ce9a;
  //#c11218, #ed1c24

  width: ($hexagon-size * 0.645);
  height: $hexagon-size;
  background-image: linear-gradient(90deg, #c11218, #ed1c24);
  border-radius: ($hexagon-size / 10);
  transition: transform 400ms ease;

  //&:hover {
  //  transform: rotate(30deg);
  //}

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-image: inherit;
    border-radius: inherit;
  }

  &:before {
    transform: rotate(60deg);
  }

  &:after {
    transform: rotate(-60deg);
  }
  animation: hex-spin 10s infinite;
}

.self-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //top: 2vw;
  //left: 5vw;
}
@keyframes go-forth {
  100% { transform: translate(25rem, 7.5rem); }
}
@keyframes hex-spin {
  16.66% { transform: rotate((360deg/6*1)); }
  33.33% { transform: rotate((360deg/6*2)); }
  50% { transform: rotate((360deg/6*3)); }
  66.66% { transform: rotate((360deg/6*4)); }
  83.33% { transform: rotate((360deg/6*5)); }
  100% { transform: rotate(360deg); }
}

// Globe
// ----------------------------------------

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

