#back-to-top {
  background-image: url(#{$asset-path}imgs/btn_back-top.png);
  bottom: calc(1vw + #{(250px/2.5)} + 22px);
  @include media(lg) {
    bottom: calc(1vw + #{(250px/3)} + 20px);
  }
  @include media(sm) {
    bottom: calc(1vw + 80px)
  }
  @include media(xs) {
    bottom: calc(1vw + 70px)
  }
}

#get-in-touch {
  background-image: url(#{$asset-path}imgs/btn_contact.png);
}

.bottom-btn {
  position: fixed;
  right: 1vw;
  bottom: 1vw;
  width: #{(250px/2.5)};
  height: #{(276px/2.5)};
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 9;
  cursor: pointer;
  transition: all .5s;
  opacity: 0;
  body.scrolled-far.scrolling & {
    opacity: 1;
  }
  body.scrolled-far &:hover {
    opacity: .75 !important;
  }
  @include media(lg) {
    width: #{(250px/3)};
    height: #{(276px/3)};
  }
  @include media(sm) {
    width: 60px;
    height: 68px;
    right: 2.5vw;
    bottom: 2vw;
  }
  @include media(xs) {
    width: 56px;
    height: 64px;
  }
}

.btn-primary {
  background-image: linear-gradient(-90deg, #c11218, #ed1c24);
  color: #ffffff;
  cursor: pointer;
  font-weight: 300;
  transition: all .25s;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:disabled {
    filter: grayscale(100%);
    opacity: .5;
  }
  &:hover {
    opacity: .75;
  }
}

.header-section {
  text-transform: uppercase;
  font-family: $font-family2;
  font-size: 50px;
  line-height: 56px;
  text-align: center;
  margin: 60px 0 60px 0;
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  @include media(sm) {
    font-size: 25px;
    line-height: 31px;
    margin: 30px 0 30px 0;
  }
}


// Form
// ----------------------------------------


.form-item {
  margin: 0 0 30px 0;
  position: relative;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  //@include media(md) {
  //  max-width: 500px;
  //  width: 100%;
  //  font-size: 14px;
  //  margin: 0 0 20px 0;
  //}
  @include media(sm) {
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 20px 0;
  }
  label {
    color: #7f7f7f;
    position: absolute;
    cursor: text;
    &.label {
      font-size: 22px;
      line-height: 22px;
      font-weight: 300;
      transition: all .2s;
      top: 16px;
      left: 18px;
      z-index: -1;
      letter-spacing: 4px;
      //@include media(md) {
      //  font-size: 14px;
      //  top: 14px;
      //  left: 9px;
      //}
      @include media(sm) {
        font-size: 14px;
        top: 10px;
        left: 10px;
      }
    }
    &.error, &.caption {
      position: absolute;
      top: unset;
      left: 0;
      bottom: -21px;
      font-size: 16px;
      color: $color-font-lighter;
      letter-spacing: 1px;
      @include media(md) {
        bottom: -14px;
        font-size: 10px;
      }
    }
    &.error {
      color: $color-danger;
      & ~ .caption {
        display: none;
      }
    }
  }

  // The input
  // ----------------------------------------

  .ml-input {
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 17px 4px 17px;
    line-height: 20px;
    height: 70px;
    font-size: 24px;
    border: 1px solid $color-input-border;
    background-color: transparent !important;
    letter-spacing: 2px;
    -webkit-appearance: none; // ios-fix
    //background: #ffffff url(#{$asset-path}/imgs/refs/input-mobile.jpg) no-repeat 0 0;

    // fix auto-fill
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      background-color: transparent;
      animation: autofill 0s forwards;
    }
    @include media(sm) {
      height: 40px;
      padding: 20px 9px 4px 9px;
      font-size: 14px;
      letter-spacing: 1.5px;
    }
    &:focus {
      border-color: $color1;
      outline: none;
      color: $color1;
    }
    &.hidden {
      display: none;
    }
    &.error {
      border-color: $color-danger;
      border-style: dotted;
    }

    // Disabled
    &:disabled {
      border-color: #f3f3f3;
      color: #cccccc;
      & ~ .label {
        color: #cccccc;
        .color-danger {
          color: #cccccc;
        }
      }
      & + .icon-wrap {
        opacity: .2;
      }
    }
  }

  // other_element.ml-input
  // ----------------------------------------
  textarea.ml-input {
    height: unset;
    padding-top: 32px;
    line-height: 28px;
    @include media(sm) {
      line-height: 17px;
      letter-spacing: 0;
      padding: 18px 9px 11px 9px;
    }
  }

  // floating label
  // ----------------------------------------

  .ml-input:focus ~ .label, &.has-value .label {
    font-size: 18px;
    top: 8px;
    @include media(sm) {
      top: 6px;
      font-size: 10px;
      line-height: 10px;
    }
  }

}
