body {
  background-color: #ffffff;
  font-family: $font-family1;
  overflow-x: hidden;
  color: $color-font;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  &.mobile-menu-expanded {
    //overflow-y: hidden;
  }
  &.body-no-scroll {
    // preserver for recalling/searching
    // actually use body-scroll-lock.js instead
  }
}

.font1 {
  font-family: $font-family1;
}
.font2 {
  font-family: $font-family2;
}
.font3 {
  font-family: $font-family3
}
.color1 {
  color: $color1
}
.color2 {
  color: $color2
}
.color-danger {
  color: $color-danger
}
.color-white {
  color: #ffffff;
}
.color-font {
  color: $color-font
}
.bold {
  font-weight: bold;
}

// Flex
// ----------------------------------------

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-h-center {
  display: flex;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Layout
// ----------------------------------------

.layout-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 $content-padding;
  overflow: hidden;
  @include media(sm) {
    padding: 0 $content-padding-mobile;
  }
}
.layout-inner {
  width: 100%;
  max-width: $content-width;
  box-sizing: border-box;
}
.layout-full {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
// paddings
.layout-padding-1 {
  padding: 0 32px;
  @include media(md) {
    padding: 0 4vw;
  }
}

// Components
// ----------------------------------------

.ts-btn {
  width: 300px;
  height: 67px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color1;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    background-color: $color3;
  }
  &.ts-btn-black {
    background-color: black;
    &:hover {
      background-color: #555555;
    }
  }
  @include media(sm) {
    font-size: 15px;
    width: 150px;
    height: 35px;
  }
}

// Miscs
// ----------------------------------------

.text-center {
  text-align: center;
}
