#footer {
  overflow: hidden;
  background-image: linear-gradient(-90deg, #da151d, #ed1c24);
  position: relative;
  ._diagonal-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom left, #ed1c24 50%, rgba(237, 28, 36, 0) 50%);
    z-index: 0;
  }
  .content-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .logo-wrap {
    width: 100%;
    height: 160px;
    @include media(md) {
      height: 100px;
    }
    @include media(sm) {
      display: none;
    }
  }
  ._footer-logo {
    width: #{(230px/2)};
    @include media(md) {
      width: 100px;
    }
  }
  .bottom-wrap {
    border-top: 1px solid #ffffff;
    display: flex;
    align-items: center;
    padding: 30px 0;
    @include media(md) {
      justify-content: center;
      flex-wrap: wrap;
    }
    @include media(sm) {
      border: none;
      padding: 20px 0;
    }
  }
  .footer-item {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
    @include media(md) {
      margin: 0;
      padding: 0 15px;
      border-left: 1px solid $color2;
      &:first-child, &:last-child {
        border: none
      }
    }
    @include media(sm) {
      font-size: 10px;
      line-height: 16px;
    }
  }
  .__copyright {
    text-transform: uppercase;
    margin-left: auto;
    margin-right: 0;
    letter-spacing: 1.5px;
    @include media(md) {
      margin-top: 15px;
      width: 100%;
      text-align: center;
      line-height: 20px;
    }
    @include media(sm) {
      font-size: 7px;
      line-height: 12px;
      letter-spacing: 0;
    }
  }
  a.footer-item {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

#pre-footer {
  background: #7f7f7f;
  color: #ffffff;
  font-weight: bold;
  font-family: $font-family2;
  align-items: flex-end;
  padding: 18px 0 20px 0;
  ._pf-text {
    font-size: 24px;
    line-height: 24px;
    margin-right: 25px;
    letter-spacing: 2px;
    @include media(sm) {
      font-size: 13px;
      line-height: 14px;
      letter-spacing: 1px;
      margin-right: 10px;
    }
  }
  ._pf-number {
    font-size: 54px;
    line-height: 48px;
    letter-spacing: 4px;
    text-decoration: none;
    color: #ffffff;
    @include media(sm) {
      font-size: 27px;
      line-height: 24px;
      letter-spacing: 2px;
    }
  }

}
