#sec-intro {
  position: fixed;
  //position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: #ffffff;
  transition: opacity 1.5s cubic-bezier(0.19, 1, 0.22, 1) .1s, height .01s linear 1.25s;
  overflow: hidden;
  //display: none;

  $slideTime: 20s;
  ._intro {
    background: white url(#{$asset-path}imgs/banner-intro.jpg) no-repeat center center;
    background-size: cover;
    width: (1138vw/19.2);
    height: (645vw/19.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-38%, -50%);
    @include media(md) {
      width: (1138vw/13);
      height: (645vw/13);
      transform: translate(-50%, -50%);
    }
  }
  .desc-wrap {
    position: absolute;
    top: 20vw;
    right: 4.6vw;
    overflow: hidden;
    width: 24vw;
    float: left;
    z-index: 1;
    @include media(md) {
      //background-color: #da151d;
      width: 35vw;
      right: 7vw;
      top: 28vw;
    }
  }
  .horizontal-wrap {
    display: flex;
    width: 200%; // 2x
    z-index: 1;
    animation: forward-slider $slideTime ease-in-out infinite;
    animation-delay: ($slideTime/-3);
    &.second-one {
      position: absolute;
      top: 0;
      left: 0;
      animation-delay: ($slideTime/2 - $slideTime/3);
      transform: translate(50%, 0);
      //animation: forward-slider-2 $slideTime infinite;
      ._desc-item {
        //color: #da151d;
      }
    }
  }
  ._desc-item {
    width: 50%;
    box-sizing: border-box;
    padding: 0 4% 0 0;
    color: $color-font-lighter;
    text-align: right;
    float: left;
    z-index: 1;
    @include res-text(19.2, 30, 40, .02);
    @include media(md) {
      @include res-text(13, 30, 40, .02);
    }
  }
}

@keyframes forward-slider {
  0% {
    transform: translate(50%, 0);
  }
  20% {
    transform: translate(50%, 0);
  }
  25% {
    transform: translate(0%, 0);
  }
  45% {
    transform: translate(0%, 0);
  }
  50% {
    transform: translate(-50%, 0);
  }
  70% {
    transform: translate(-50%, 0);
  }
  75% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes forward-slider-2 {
  0% {
    transform: translate(50%, 0);
  }
  50% {
    transform: translate(0%, 0);
  }
  75% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

// Section - Main
// ----------------------------------------
#_sec-main {
  //background: white url(#{$asset-path}imgs/banner-main.jpg) no-repeat center center;
  background: #ffffff;
  height: 100vh;
  position: relative;
  overflow: hidden;
  //transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 6;
  @include media(md) {
    display: flex;
    align-items: center;
  }
  #home-video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    @include media(md) {
      transform: translateX(-31%);
    }
    @include media(sm) {
      transform: translateX(-33.2%);
    }
  }
  .home-video-overlay {
    position: absolute;
    top: 0; left: 0;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, .75), rgba(255, 255, 255, 0) 80%);
    width: 100vw;
    height: 100vh;
    //opacity: .5;
  }
  #intro-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    //right: 5%;
    left: 55%;
    width: 1520px;
    height: 876px;
    transform-origin: center bottom;
    //box-sizing: border-box;
    padding: 40px 80px 0 160px;
    //margin-left: -650px;
    @include media(xl) {
      left: 52%;
    }
    @include media(md) {
      transform: none !important;
      width: 100%;
      height: 100%;
      padding: 0;
      right: 0%;
      left: 0%;
      top: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      position: relative;
      //margin-top: -30vw;
      //padding-top: 10vh;
    }
  }
  ._bi-scg {
    width: (857px/2);
    margin: 0 0 8px 0;
    z-index: 1;
    top: 0;
    @include media(md) {
      position: absolute;
      margin: 0 0 1vw 0;
      width: 52vw;
      left: 20vw;
    }
  }
  ._bi-inter {
    width: (1141px/2);
    margin: 0 0 67px 0;
    z-index: 1;
    @include media(md) {
      position: absolute;
      margin: 0 0 7vw 5vw;
      width: 70vw;
    }
  }
  ._intro {
    font-size: 30px;
    line-height: 38px;
    z-index: 1;
    @include media(md) {
      position: absolute;
      @include res-text(6.4, 30, 36)
    }
  }
  ._people {
    pointer-events: none; // fix unknown h-scroll when hover
    position: absolute;
    bottom: 0;
    left: 860px;
    z-index: 0;
    //width: 900px;
    width: 830px; // reduce size
    @include media(md) {
      bottom: 0;
      width: 114%;
      left: -9vw;
    }
  }
  #home-contact-btn {
    width: 390px;
    margin: 65px 0 0 0;
    position: relative;
    height: 85px;
    z-index: 1;
    @include media(md) {
      width: (390vw/6.4);
      height: (80vw/6.4);
      margin: 10vw 0 -5vw 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    #home-email-input {
      width: 390px;
      box-sizing: border-box;
      position: absolute;
      border: 3px solid #ed1c24;
      top: 0; left: 0;
      height: 100%;
      padding: 15px 20px;
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 0;
      @include media(md) {
        width: (390vw/6.4);
        padding: 1.5vw 3vw 1vw 3vw;
        @include res-text(6.4, 22, 30);
      }
      &::placeholder {
        color: $color-font-lighter;
        letter-spacing: 2px;
        @include media(md) {
          letter-spacing: .5vw;
        }
      }
    }
    .btn-primary {
      width: 100%;
      font-size: 22px;
      line-height: 22px;
      height: 100%;
      z-index: 1;
      position: relative;
      letter-spacing: 4px;
      @include media(md) {
        @include res-text(6.4, 22, 22, .5)
      }
      &:hover {
        opacity: 1; // fix & smooth
      }
    }
    // active
    &.active {
      transform: translateX(-24%);
      .btn-primary {
        width: 235px;
        margin-left: 390px;
        @include media(md) {
          width: (230vw/6.4);
          margin-left: (360vw/6.4);
        }
      }
      @include media(md) {
        margin-left: -31vw;
      }
    }
  }

  // Responsive
  // ----------------------------------------
  @media (max-width: 991px) {
    ._bi-scg { top: 26vw; }
    ._bi-inter { top: 46vw; }
    ._intro { top: 60vw; }
    ._people { top: 90vw; }
    #home-contact-btn { top: 125vw; }
  }
  //@media (max-width: 991px) and (min-device-aspect-ratio: 320/550) {
  //  ._bi-scg { top: 26vw; }
  //  ._bi-inter { top: 46vw; }
  //  ._intro { top: 60vw; color: #ff00ff; }
  //  ._people { top: 60vw; }
  //  #home-contact-btn { top: 60vw; }
  //}
  //@media (max-width: 991px) and (min-device-aspect-ratio: 320/500) {
  //  ._bi-scg { top: 26vw; }
  //  ._bi-inter { top: 46vw; }
  //  ._intro { top: 60vw; color: #00ff00; }
  //  ._people { top: 60vw; }
  //  #home-contact-btn { top: 60vw; }
  //}
  @media (max-width: 991px) and (min-device-aspect-ratio: 320/667) {
    ._bi-scg { top: 16vw; }
    ._bi-inter { top: 36vw; }
    ._intro { top: 50vw; }
    ._people { top: 62vw; }
    #home-contact-btn { top: 92vw; }
  }
  @media (max-width: 991px) and (min-device-aspect-ratio: 320/568) {
    ._bi-scg { top: 16vw; }
    ._bi-inter { top: 36vw; }
    ._intro { top: 47vw; }
    ._people { top: 60vw; }
    #home-contact-btn { top: 95vw; }
  }
  @media (max-width: 991px) and (min-device-aspect-ratio: 768/1024) and (min-width: 768px) {
    ._bi-scg {
      width: 40vw;
      left: 28vw;
      top: 10vw;
    }
    ._bi-inter {
      width: 50vw;
      left: 23vw;
      top: 26vw;
    }
    ._intro {
      top: 32vw;
      transform: scale(.75);
    }
    ._people { top: 40vw; }
    #home-contact-btn { top: 75vw; }
  }
}

#scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  @include res-text(19.2, 20, 20, .1);
  @include media(md) {
    color: white;
    @include res-text(6.4, 20, 20, .1);
  }
  ._v-line {
    width: 1px;
    background-color: #ffffff;
    height: (40vw/19.2);
    margin: 1.5vw 0 0 0;
    @include media(md) {
      margin: 3.5vw 0 0 0;
      height: (50vw/6.4);
    }
  }
}

// Section - Contact
// ----------------------------------------
#_sec-principle {
  // for particles.js, only put it here, top-most level
  //pointer-events: none;
  padding-bottom: 100px;
  position: relative;
  @include media(md) {
    margin: 0 0 0 0;
    padding-bottom: 4vw;
  }
  .layout-inner {
    z-index: 2;
  }
  .principle-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include media(md) {
      flex-direction: column;
    }
  }
  .principle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    opacity: 0;
    position: relative;
    @include media(mdp) {
      transform: scale(.9);
    }
    @include media(md) {
      transform: unset;
      flex-direction: row;
      margin: 0 0 5% 0;
    }
    // animation
    top: 100px;
    transition: $transition-reverse;
    //transition: all .4s ease-in-out;
    &.do-animate {
      opacity: 1;
      top: 0;
      margin-top: 0;
      transition: $transition1-0;
      transition-delay: 0s;
      &:nth-child(2) {
        transition-delay: .25s;
      }
      &:nth-child(3) {
        transition-delay: .5s;
      }
    }
  }
  ._img {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    @include media(md) {
      width: 40%;
      padding-bottom: 40%;
      background-size: contain;
      margin: 0;
    }
    &.__img-1 {
      background-image: url(#{$asset-path}imgs/principle-1.png);
      @include media(md) {
        margin-left: -1.3vw;
      }//
    }
    &.__img-2 {
      background-image: url(#{$asset-path}imgs/principle-2.png);
      @include media(md) {
        margin-left: -1.3vw;
      }//
    }
    &.__img-3 {
      background-image: url(#{$asset-path}imgs/principle-3.png);
      @include media(md) {
        margin-left: -1.3vw;
      }//
    }
  }
  ._wrap {
    text-align: center;
    padding: 0 20px;
    @include media(md) {
      width: 60%;
      padding: 0 0 0 6%;
      box-sizing: border-box;
      text-align: left;
    }
  }
  ._title {
    font-size: 30px;
    line-height: 34px;
    font-weight: 500;
    @include media(md) {
      margin: 0 0 (7vw/3.2) 0;
      font-size: (12vw/3.2);
      line-height: (18vw/3.2);
    }
    @include media(xs) {
      margin: 0 0 (7vw/3.2) 0;
      font-size: (14.5vw/3.2);
      line-height: (21vw/3.2);
    }
  }
  ._desc {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
    @include media(md) {
      font-size: (9vw/3.2);
      line-height: (12vw/3.2);
    }
    @include media(xs) {
      font-size: (10vw/3.2);
      line-height: (15vw/3.2);
    }
  }
}

#_sec-counter {
  position: relative;
  overflow: hidden;
  z-index: 1;
  //.bg-under {
  //  position: absolute;
  //  top: 0; left: 0;
  //  width: 100%; height: 100%;
  //  background-image: linear-gradient(-45deg, #f7f7f7, #ffffff);
  //  z-index: 0;
  //}
  @include media(md) {
    //padding: 0 3vw;
  }
  ._outer {
    display: flex;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;
    background-image: linear-gradient(-45deg, #f7f7f7, #ffffff);
    overflow: hidden;
    z-index: 0;
  }
  .counter-wrap {
    z-index: 6;
    width: 100%;
    max-width: 1030px;
    //z-index: 1;
  }
  ._counter {
    font-size: 90px;
    line-height: 90px;
    font-weight: 500;
    display: flex;
    @include media(md) {
      font-size: (48vw/6.4);
      line-height: (48vw/6.4);
    }
  }
  ._caption {
    font-size: 24px;
    line-height: (24px+6);
    letter-spacing: 2px;
    font-weight: 300;
    margin: 20px 0 0 3px;
    @include media(md) {
      font-size: (24vw/6.4);
      line-height: (24vw/6.4);
      margin: 5vw 0 0 0;
      letter-spacing: .2vw;
    }
  }
  ._plus {
    font-weight: 100;
    margin: 0 0 0 8px;
  }
  ._billions {
    font-size: 60px;
    line-height: 64px;
    font-weight: 100;
    margin: 0 0 0 20px;
    @include media(md) {
      margin: 0 0 0 2vw;
      font-size: (36vw/6.4);
      line-height: (36vw/6.4);
    }
  }
  ._dollar-sign {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 0 7px 40px 0;
    color: $color-font-lighter;
    @include media(md) {
      margin: 0 1vw 2vw 0;
      font-size: (30vw/6.4);
      line-height: (30vw/6.4);
    }
  }
  .top-wrap {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    padding: 100px 0 60px 0;
    border-bottom: 1px solid #dddddd;
    @include media(md) {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 8vw 0;
    }
    .partner-count-wrap {
      width: 50%;
      @include media(md) {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
      }
    }
    ._main-desc {
      width: 50%;
      //font-weight: 300;
      font-size: 40px;
      line-height: 46px;
      margin: 5px 0 0 0;
      @include media(md) {
        text-align: center;
        width: 100%;
        margin: 0 0 4vw 0;
        font-size: (30vw/6.4);
        line-height: (36vw/6.4);
      }
    }
    ._counter-1 {
      font-size: 100px;
      line-height: 100px;
      margin-left: -2px;
      @include media(md) {
        font-size: (72vw/6.4);
        line-height: (72vw/6.4);
      }
    }
  }
  // bottom
  .bottom-wrap {
    display: flex;
    padding: 75px 0 85px 0;
    @include media(md) {
      padding: 10vw 0 10vw 0;
    }
    & > * {
      width: 50%;
    }
    ._trade {
      border-right: 1px solid #dddddd;
      @include media(md) {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
    ._turnover {
      display: flex;
      justify-content: flex-end;
      @include media(md) {
        justify-content: center;
      }
      ._inner {
        @include media(md) {
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }
      ._counter {
        display: flex;
        align-items: flex-end;
        @include media(md) {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

// Section - Solution
// ----------------------------------------
#sec-solution {
  position: relative;
  overflow: hidden;
  z-index: 6;
  // override
  .header-section {
    width: 100%;
    position: absolute;
    z-index: 4;
    pointer-events: none;
    text-shadow: 0px 0px 13px rgba(0,0,0,0.8);
    @include media(md) {
      margin-top: 30px;
    }
    @include media(sm) {
      text-shadow: none;
      position: relative;
      .color-white {
        color: #000000;
      }
    }
    @include media(md) {
      .color-white {
        color: #000000 !important;
      }
    }
  }
  .solution-wrap {
    z-index: 6;
    //background-color: #aaaaaa;
    color: #ffffff;
    display: flex;
    width: 100%;
    height: 50vw;
    @include media(sm) {
      flex-wrap: wrap;
      height: auto;
    }
  }
  .solution {
    width: 25%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5vw 3vw;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;
    @media (hover: hover) {
      &:hover {
        z-index: 2;
        width: 65%;
        &:before {
          opacity: 0;
        }
        &:after {
          transform: rotate(40deg);
          opacity: 1;
        }
        ._img:before {
          opacity: 0;
        }
      }
    }
    @include media(sm) {
      width: 100%;
      height: 50vw;
      padding: 0 0 0 45vw;
    }
    &:after, &:before {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      transform: rotate(24deg);
      transform-origin: left bottom;
      transition: all .5s ease-in-out .1s;
      z-index: 2;
    }
    &:before {
      opacity: 1;
      background-image: linear-gradient(0deg, rgba(255, 255, 255, .25), rgba(255, 255, 255, 0));
      @include media(sm) {
        transform: rotate(-25deg) translate(0, 100%);
        width: 100%;
        transform-origin: left bottom;
        background-image: linear-gradient(90deg, rgba(255, 255, 255, .35), rgba(255, 255, 255, 0));
      }
    }
    &:after {
      opacity: 0;
      background-image: linear-gradient(0deg, rgba(173, 80, 80, .5), rgba(255, 255, 255, 0));
    }
    ._img {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-color: #cccccc;
      z-index: 1;
      ._video {
        position: absolute;
        width: 65vw;
        height: 100%;
        left: -10.4vw;
        @include media(md) {
          display: none;
        }
      }
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
        transition: opacity .5s ease-in-out .1s;
        z-index: 4;
      }
      ._fg {
        position: absolute;
        z-index: 3;
        bottom: 0;
        width: 100%;
        height: 100%;
        @include media(sm) {
          display: none;
          visibility: hidden;
        }
      }
      ._video {
        @include media(sm) {
          display: none;
          visibility: hidden;
        }
      }
      &.__ss-1 {
        background: transparent url(#{$asset-path}imgs/solutions/ss1-bg.jpg) no-repeat center center;
        background-size: cover;
        @include media(sm) {
          background: transparent url(#{$asset-path}imgs/solutions/ssm-1.jpg) no-repeat center center;
          background-size: cover;
        }
        ._fg {
          background: transparent url(#{$asset-path}imgs/solutions/ss1-top.png) no-repeat center center;
          background-size: 33.5vw;
          background-position: calc(50% - .7vw) bottom;
        }
      }
      &.__ss-2 {
        background: transparent url(#{$asset-path}imgs/solutions/ss2-bg.jpg) no-repeat center center;
        background-size: cover;
        //background-position-x: 20%;
        @include media(sm) {
          background: transparent url(#{$asset-path}imgs/solutions/ssm-2.jpg) no-repeat center center;
          background-position: center center;
          background-size: cover;
        }
        ._fg {
          background: transparent url(#{$asset-path}imgs/solutions/ss2-top.png) no-repeat center center;
          background-size: 37.5vw;
          background-position: 0 bottom;
        }
      }
      &.__ss-3 {
        background: transparent url(#{$asset-path}imgs/solutions/ss3-bg.jpg) no-repeat center center;
        background-size: cover;
        @include media(sm) {
          background: transparent url(#{$asset-path}imgs/solutions/ssm-3.jpg) no-repeat center center;
          background-position: center center;
          background-size: cover;
        }
        ._fg {
          background: transparent url(#{$asset-path}imgs/solutions/ss3-top.png) no-repeat center center;
          background-size: 26.5vw;
          background-position: calc(50% + 9vw) bottom;
        }
      }
      &.__ss-4 {
        background: transparent url(#{$asset-path}imgs/solutions/ss4-bg.jpg) no-repeat center center;
        background-size: cover;
        //background-position-x: 20%;
        @include media(sm) {
          background: transparent url(#{$asset-path}imgs/solutions/ssm-4.jpg) no-repeat center center;
          background-position: center center;
          background-size: cover;
        }
        ._fg {
          background: transparent url(#{$asset-path}imgs/solutions/ss4-top.png) no-repeat center center;
          background-size: 45vw;
          background-position: calc(50%) bottom;
        }
      }
    }
    ._title {
      font-size: (48vw/19.2);
      line-height: (48vw/19.2);
      text-transform: uppercase;
      font-family: $font-family2;
      letter-spacing: .1vw;
      margin: 29vw 0 1vw 0;
      z-index: 3;
      @include media(sm) {
        @include res-text(6.4, 48, 48, .3);
        margin: 9vw 0 0 0;
      }
    }
    ul {
      position: relative;
      z-index: 3;
      padding: 0 0 0 1vw;
      @include media(sm) {
        padding: 0 0 0 2vw;
      }
    }
    li {
      list-style: none;
      font-size: (20vw/19.2);
      line-height: (20vw/19.2);
      letter-spacing: .05vw;
      position: relative;
      margin: 0 0 .3vw 0;
      transition: all .3s ease-in-out .1s;
      @include media(sm) {
        @include res-text(6.4, 20, 24, 0)
      }
      &:before {
        content: "·";
        font-size: 30px;
        position: absolute;
        left: -1vw;
        top: -.1vw;
        @include media(sm) {
          @include res-text(1, 5, 4, 0);
          left: -2vw;
        }
      }
    }
  }

  // Increase size on hover
  @media (hover: hover) {
    .solution:hover {
      li {
        font-size: (26vw/19.2);
        line-height: (26vw/19.2);
      }
    }
  }

}

// Section - Presences
// ----------------------------------------
#sec-presences {
  .presences-wrap {
    width: 100%;
    height: 45vw;
    position: relative;
    overflow: hidden;
    @include media(sm) {
      height: auto;
    }
  }
  #world-map {
    width: 100vw;
    position: absolute;
    // animation
    transform: translate(0, 5vw);
    opacity: 0;
    transition: $transition-reverse;
    &.do-animate {
      transition: $transition1-0;
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  #exploding-line {
    position: absolute;
    width: 77vw;
    left: 12.5vw;
    top: 7.5vw;
    // animation
    //clip-path: circle(1% at 81% 46%);
    // better performance than circle
    clip-path: polygon(81% 46%, 81% 46%, 81% 46%, 81% 46%, 81% 46%, 81% 46%);
    transition: $transition-reverse;
    //background-color: #dddddd;
    &.explode {
      transition: all .85s cubic-bezier(.66, 0, .28, 1) .75s;
      //transition-delay: .5s;
      clip-path: polygon(81% 0%, 100% 25%, 100% 100%, 0% 100%, 0% 20%, 30% -20%);
      //clip-path: circle(130% at 81% 46%);
    }
  }
  // stats
  .stat-wrap {
    position: absolute;
    left: 18vw;
    background-color: rgba(200, 200, 200, .1);
    text-align: center;
    padding: 2.6vw 1.2vw;
    top: 11.8vw;
    // animation
    transform: translate(0, 5vw);
    opacity: 0;
    transition: $transition-reverse;
    &.do-animate {
      opacity: 1;
      transform: translate(0, 0);
      transition: $transition1-1;
    }
    @include media(sm) {
      position: relative;
      top: 1vw;
      left: 12.5vw;
      padding: 7vw 3vw 8vw 3vw;
      width: (100vw - 12.5 * 2);
      box-sizing: border-box;
      margin: 14vw 0 10vw 0;
    }
    .bottom-wrap {
      margin: 1.2vw 0 0 0;
      padding: 1vw 0 0 0;
      border-top: 1px solid #000000;
      display: flex;
      width: 22vw;
      box-sizing: border-box;
      justify-content: space-between;
      @include media(sm) {
        margin: 3vw 0 0 0;
        padding: 3vw 0 0 0;
        width: 100%;
      }
    }
    .stat-item {
      width: percentage(1/3);
    }
    ._num, ._num-global {
      color: $color1;
      font-weight: bold;
      font-family: $font-family2;
    }
    ._num {
      margin: 0 0 .5vw 0;
      @include res-text(19.2, 70, 70);
      @include media(sm) {
        @include res-text(6.2, 70, 70);
      }
    }
    ._num-global {
      margin: 0 0 .1vw 0;
      @include res-text(19.2, 120, 120);
      @include media(sm) {
        @include res-text(6.2, 120, 120);
      }
    }
    ._caption {
      font-weight: 500;
      text-align: center;
      @include res-text(19.2, 18, 24, .03);
      @include media(sm) {
        @include res-text(6.2, 18, 22);
      }
    }
    ._caption-global {
      font-weight: 500;
      @include res-text(19.2, 24, 24, .1);
      @include media(sm) {
        @include res-text(6.2, 24, 26);
      }
    }
  }
}

// Section - Contact
// ----------------------------------------
#sec-contact {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  @include media(md) {
    padding-top: 0;
  }
  .map-wrap {
    width: 43%;
    //background: white url(#{$asset-path}imgs/map.png) no-repeat center center;
    //background-size: cover;
    overflow: hidden;
    min-height: 30vw;
    //height: 100%;
    position: relative;
    display: block;
    @include media(mdp) {
      //background-position: 30% center;
      width: 50%;
    }
    @include media(sm) {
      width: 100%;
      padding-bottom: 80%;
    }
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
  #info-globe {
    position: absolute;
    top: -100px;
    left: -10%;
    z-index: 0;
    @include media(md) {
      display: none;
    }
  }
  .info-wrap {
    width: 57%;
    box-sizing: border-box;
    padding: 60px 20px 60px 125px;
    position: relative;
    display: flex;
    flex-direction: column;
    @include media(mdp) {
      width: 50%;
      padding: 40px 20px 50px 60px;
    }
    @include media(sm) {
      width: 100%;
      padding: 20px 15px 35px 15px;
    }
    h2 {
      font-family: $font-family2;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0 0 25px 0;
      font-size: 36px;
      line-height: 40px;
      position: relative;
      z-index: 2;
      @include media(md) {
        font-size: 30px;
        line-height: 36px;
      }
      @include media(sm) {
        font-size: 19px;
        line-height: 22px;
        letter-spacing: .5px;
        margin: 0 0 15px 0;
      }
    }
    h4 {
      font-weight: 300;
      margin: 0 0 40px 0;
      font-size: 18px;
      line-height: 26px;
      position: relative;
      z-index: 2;
      @include media(sm) {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 30px 0;
      }
    }

    .contact-wrap {
      .contact-item {
        background-position: 0 0;
        background-repeat: no-repeat;
        padding: 3px 0 18px 40px;
        position: relative;
        z-index: 2;
        a {
          color: $color-font;
          text-decoration: none;
          letter-spacing: .5px;
          font-size: 18px;
          line-height: 20px;
          @include media(sm) {
            font-size: 14px;
            line-height: 18px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .__map {
        background-image: url(#{$asset-path}imgs/icon-marker.png);
        background-size: auto #{(52px/2)};
        background-position: 3px 0;
        a {
          text-decoration: underline;
        }
      }
      .__tel {
        background-image: url(#{$asset-path}imgs/icon-phone.png);
        background-size: auto #{(44px/2)};
        background-position: 1px 2px;
      }
      .__fax {
        background-image: url(#{$asset-path}imgs/icon-fax.png);
        background-size: auto #{(46px/2)};
        background-position: 0 2px;
      }
      .__mail {
        background-image: url(#{$asset-path}imgs/icon-mail.png);
        background-size: auto #{(36px/2)};
        background-position: 2px 5px;
      }
    }
  }

  #contact-btn {
    width: 100%;
    height: 70px;
    max-width: 400px;
    margin: 40px 0 0 0;
    font-size: 20px;
    letter-spacing: 2px;
    position: relative;
    z-index: 2;
    @extend %flex-center;
    @include media(sm) {
      font-size: 14px;
      height: 50px;
      margin: 20px 0 0 0;
    }
  }
}

// Section - Partner
// ----------------------------------------
#_sec-partner {
  position: relative;
  z-index: 6;
  margin: 8vw 0 0 0;
  @include media(md) {
    margin: 0;
  }
  ._inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include media(md) {
      padding: 0 4vw;
    }
    @include media(xs) {
      padding: 0 1vw;
    }
  }
  .partner-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    //justify-content: space-between;
    width: 100%;
    max-width: (1200/1920*100%);
    margin: 2vw 0 0 0;
    @include media(md) {
      flex-wrap: wrap;
      max-width: none;
    }
  }
  // jQuery-Slick wrap
  ._wrapper {
    height: 8vw;
    // hack slick inline-block ruin it
    display: block !important;
    float: left;
    @include media(md) {
      height: 20vw; // same as .partner-logo
    }
  }
  .partner-logo {
    width: (100%);
    display: flex;
    justify-content: center;
    height: 8vw;
    img {
      //width: 100%;
      height: auto;
      align-self: center;
    }
    @include media(md) {
      width: (100%);
      height: 20vw;
    }
  }
  .__kubota {
    width: (135vw/19.2);
    @include media(md) {
      width: (104vw/6.4);
    }
  }
  .__toyota {
    width: (120vw/19.2);
    @include media(md) {
      width: (121vw/6.4);
    }
  }
  .__cotto {
    width: (80vw/19.2);
    margin-top: -.4vw;
    @include media(md) {
      width: (82vw/6.4);
    }
  }
  .__ralali {
    width: (158vw/19.2);
    @include media(md) {
      width: (130vw/6.4);
    }
  }
  .__mitsui {
    width: (56vw/19.2);
    @include media(md) {
      width: (55vw/6.4);
    }
  }
  .__saison {
    width: (170vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }
  .__sf {
    width: (165vw/19.2);
    @include media(md) {
      width: (155vw/6.4);
    }
  }
  .__scg-logistic {
    width: (150vw/19.2);
    @include media(md) {
      width: (150vw/6.4);
    }
  }
  .__great-wall {
    width: (80vw/19.2);
    @include media(md) {
      width: (80vw/6.4);
    }
  }
  .__scg-express {
    width: (164vw/19.2);
    @include media(md) {
      width: (155vw/6.4);
    }
  }
  .__bj {
    width: (54vw/19.2);
    @include media(md) {
      width: (54vw/6.4);
    }
  }
  .__b2 {
    width: (126vw/19.2);
    @include media(md) {
      width: (126vw/6.4);
    }
  }
  .__siam-bangla {
    width: (140vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }
  .__thaitheparos {
    width: (134vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }
  .__tvi {
    width: (100vw/19.2);
    @include media(md) {
      width: (110vw/6.4);
    }
  }
  .__alcoa {
    width: (100vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }
  .__betagro {
    width: (77vw/19.2);
    @include media(md) {
      width: (80vw/6.4);
    }
  }
  .__biller {
    width: (145vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }

  .__canfor {
    width: (150vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }
  .__chememan {
    width: (105vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }
  .__chevron {
    width: (62vw/19.2);
    @include media(md) {
      width: (62vw/6.4);
    }
  }
  .__deestone {
    width: (150vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }
  .__domtar {
    width: (94vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }
  .__eat {
    width: (80vw/19.2);
    @include media(md) {
      width: (90vw/6.4);
    }
  }
  .__knauf {
    width: (88vw/19.2);
    @include media(md) {
      width: (120vw/6.4);
    }
  }
  .__lixil {
    width: (95vw/19.2);
    @include media(md) {
      width: (120vw/6.4);
    }
  }
  .__bjc {
    width: (95vw/19.2);
    @include media(md) {
      width: (130vw/6.4);
    }
  }
  .__mondi {
    width: (120vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }
  .__nd-rubber {
    width: (99vw/19.2);
    @include media(md) {
      width: (120vw/6.4);
    }
  }
  .__noritake {
    width: (100vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }
  .__novelis {
    width: (75vw/19.2);
    @include media(md) {
      width: (100vw/6.4);
    }
  }
  .__president-rice {
    width: (70vw/19.2);
    @include media(md) {
      width: (100vw/6.4);
    }
  }
  .__saint-gobain {
    width: (110vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }
  .__shell {
    width: (60vw/19.2);
    @include media(md) {
      width: (90vw/6.4);
    }
  }
  .__suzano {
    width: (82vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }
  .__thaikk {
    width: (95vw/19.2);
    @include media(md) {
      width: (140vw/6.4);
    }
  }

  // Hex Don
  // ----------------------------------------
  $dot-width: 10px;
  .custom-dots {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    margin: 3vw 0;
    padding: 0;
    @include media(md) {
      margin: 10vw 0;
    }
  }
  .dot-wrap {
    position: relative;
    @include media(md) {
      //transform: scale(4);
    }
  }
  .hex {
    margin: 0 .5vw;
    position: relative;
    cursor: pointer;
    @include media(md) {
      margin: 0 2vw;
    }
    &.inner-dot {
      top: 0;
      left: 0;
      position: absolute;
      transform: scale(.8);
    }
    .top {
      width: 0;
      border-bottom: 4px solid #dddddd;
      border-left: (4px*1.73) solid transparent;
      border-right: (4px*1.73) solid transparent;
    }
    .middle {
      width: (4px*3.46);
      height: (4px*2);
      background: #dddddd;
    }
    .bottom {
      width: 0;
      border-top: 4px solid #dddddd;
      border-left: (4px*1.73) solid transparent;
      border-right: (4px*1.73) solid transparent;
    }
  }
  .inner-dot {
    .top {
      border-bottom-color: white;
    }
    .middle {
      background-color: white;
    }
    .bottom {
      border-top-color: white;
    }
  }
  .custom-dots .slick-active {
    .outer-dot {
      .top {
        border-bottom-color: $color-danger;
      }
      .middle {
        background-color: $color-danger;
      }
      .bottom {
        border-top-color: $color-danger;
      }
    }
    .inner-dot {
      display: none;
    }
  }
  //.custom-dots li:not(.slick-active) .inner-dot {
  //  display: none !important;
  //}
}

#_sec-community {
  width: 100vw;
  height: 70vw;
  margin: -34vw 0 0 0;
  position: relative;
  overflow: hidden;
  z-index: 6;
  pointer-events: none;
  @include media(md) {
    height: 114vw;
    margin: 0vw 0 0 0;
  }
  ._com-header {
    font-family: $font-family2;
    @include res-text(19.2, 50, 60, .05);
    text-align: center;
    margin: 50vw 0 3vw 0; // 38
    position: relative;
    z-index: 6;
    @include media(md) {
      margin: 0 0 8.5vw 0;
      @include res-text(6.4, 50, 60, .05);
    }
  }
  ._because {
    position: relative;
    text-align: center;
    margin: 0;
    font-weight: 300;
    z-index: 6;
    @include res-text(19.2, 24, 34, .07);
    @include media(md) {
      @include res-text(6.4, 24, 34, .07);
    }
  }
  #text-community {
    position: relative;
    @include media(mdp) {
      bottom: 23vw;
    }
    @include media(md) {
      bottom: 0;
    }
  }
}

#bg-sec-community {
  background: white url(#{$asset-path}imgs/banner-community.jpg) no-repeat center bottom;
  background-size: 100% auto;
  width: 100%;
  padding-bottom: 60%;
  position: absolute;
  left: 0;
  //transition: all .5s ease-in-out .25s;
  bottom: 0;
  z-index: 0;
  @include media(md) {
    //background-image: url(#{$asset-path}imgs/mobile-banner-community.jpg);
    background-size: 110% auto;
    background-position: center bottom;
    padding-bottom: 200%;
  }
}

// Section - Products
// ----------------------------------------
#sec-products {
  position: relative;
  overflow: hidden;
  .v-line {
    position: relative;
    display: flex;
    justify-content: center;
    height: (140vw/19.2);
    width: 100vw;
    &:before {
      content: '';
      height: 100%;
      width: 1px;
      background-color: #dddddd;
    }
    &.__type-0 {
      margin: 0 0 -5vw 0;
      @include media(md) {
        margin: 5vw 0 0 0;
      }
    }
    &.__type-1 {
      margin: 7vw 0 5vw 0;
    }
  }
  #product-carousel {
    //background-color: #999999;
    min-height: 50vw;
    position: relative;
    z-index: 6;
    @include media(md) {
      min-height: 90vw;
      //margin-bottom: -40vw;
    }
    .slick-slide {
      // because pointer-events: none; in .product-item
      cursor: pointer;
    }
  }
  .product-item {
    pointer-events: none;
    .content-wrap {
      padding: 0;
      margin: 0 -2vw;
      cursor: pointer;
      box-sizing: border-box;
      transition: all .5s ease-in-out;
      //width: 150%;
      //margin-left: -25%;
      @include media(md) {
        margin: 12vw 0;
        //margin: 0 -6vw;
      }
    }
    ._thumb {
      width: 100%;
      padding-bottom: (6/8*100%);
      background-position: center center;
      background-size: cover;
      transition: all .5s ease-in-out;
      @include media(md) {
        transition: all .5s ease-in-out;
        //transform: scale(.3);
      }
    }
    ._title {
      margin: -2vw 0 1vw 0;
      font-family: $font-family2;
      font-weight: bold;
      @include res-text(19.8, 24, 30, .1);
      text-transform: uppercase;
      color: $color-font;
      text-align: center;
      transition: all .5s ease-in-out;
      // IE fix
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        transition: none;
      }
      @include media(md) {
        @include res-text(6.4, 18, 22, .1)
      }
    }
    ._excerpt {
      @include res-text(19.8, 20, 26);
      opacity: 0;
      transition: opacity .5s ease-in-out .5s;
      text-align: center;
      @include media(md) {
        @include res-text(6.4, 20, 26, .1)
      }
      @include media(sm) {
        @include res-text(6.4, 24, 30, .1)
      }
    }
  }
  // override
  .slick-slide {
    outline: none; // remove blue border
    // animation
    // note: JS cannot set initial condition
    &:not(.slick-cloned) {
      //opacity: 0;
      //transform: translateY(20vw)
    }
    opacity: 0;
    transform: translateY(20vw)
  }
  .slick-active {
    @include media(md) {
      position: relative;
      z-index: 1;
      .content-wrap {
        margin: 0;
        width: 250% !important;
        margin-left: -75%;
      }
    }
    ._thumb {
      @include media(md) {
        width: 70vw;
        padding-bottom: (6/8*70vw);
        margin: 0 12.5vw;
        //transform: scale(.9);
      }
    }
    ._excerpt {
      display: block;
      opacity: 1;
    }
    ._title {
      margin: 3vw 0 2vw 0;
      color: $color1;
      @include res-text(19.8, 36, 47, .1);
      @include media(md) {
        margin: 7vw 0 7vw 0;
        @include res-text(6.4, 36, 40, .1)
      }
    }
  }
  .slick-slide:not(.slick-active) {
    ._title {
      @include media(md) {
        margin-top: 3vw;
      }
    }
    ._thumb {
      transform: scale(.73);
      @include media(md) {
        width: 40vw;
        padding-bottom: (6/8*40vw);
        transform: scale(1);
      }
    }
    ._excerpt {
      display: none;
      opacity: 1;
    }
  }
  #bg-text-products {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
    color: #f6f6f6;
    z-index: 6;
    @include res-text(19.2, 220, 210, .1);
    // ipad portrait
    @include media(mdp) {
      top: 45.5vw;
    }
    @include media(md) {
      @include res-text(6.4, 96, 96, .1);
      top: 82.5vw;
    }
  }
  //.asdf {
  //  div:nth-child(-n+4) {
  //    color: red;
  //  }
  //}
}

// Section - News
// ----------------------------------------

#sec-news {
  padding: 10px 0 150px 0;
  position: relative;
  @include media(md) {
    padding: 10px 0 200px 0;
  }
  @include media(sm) {
    padding: 0 0 25vw 0;
  }
  #bg-text-news {
    position: absolute;
    top: -5vw;
    left: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
    color: #f6f6f6;
    z-index: 1;
    @include res-text(19.2, 180, 180, .1);
    // ipad portrait0
    @include media(mdp) {
      top: 8vw;
    }
    @include media(md) {
      @include res-text(6.4, 120, 120, .2);
      top: 16vw;
      left: -2vw;
    }
  }
  .news-item {
    .content-wrap {
      padding: 0 2%;
      cursor: pointer;
      //width: 400px;
    }
    ._thumb {
      width: 100%;
      padding-bottom: 75%;
      background-position: center center;
      background-size: cover;
      //height: 300px;
    }
    ._category {
      color: $color1;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 18px;
      margin: 10px 0 2px 0;
      @include media(sm) {
        font-size: 10px;
        line-height: 14px;
        margin: 8px 0 0 0;
      }
    }
    ._date {
      font-weight: 300;
      font-style: italic;
      font-size: 12px;
      line-height: 16px;
      margin: 0 0 10px 0;
      @include media(sm) {
        font-size: 9px;
        line-height: 13px;
        margin: 0 0 7px 0;
      }
    }
    ._title {
      margin: 0;
      border-top: 1px solid #dddddd;
      padding-top: 10px;
      font-family: $font-family2;
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: .5px;
      text-transform: uppercase;
      @include media(sm) {
        padding-top: 7px;
        font-size: 13px;
        line-height: 18px;
      }
    }
  }
  // override (news)
  .slick-slide {
    outline: none; // remove blue border
    // animation
    // note: JS cannot set initial condition
    opacity: 0;
    transform: translateY(20vw)
  }
}

#news-carousel {
  position: relative;
  z-index: 6;
  .slick-list {
    padding: 0 15% 0 15%;
    position: relative;
  }
  .slick-cloned {
    //opacity: 0;
  }
  .slick-arrow {
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 70px;
    transition: opacity .5s ease-in-out;
    //@include media(sm) {
    //  &:before {
    //    transform: scale(.75);
    //  }
    //}
    @include media(sm) {
      width: 60px;
    }
    &.prev-arrow {
      left: 0px;
      @include chevron(2px, 30px, 0px, -135);
      background-image: linear-gradient(90deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, 0));
      @include media(sm) {
        @include chevron(2px, 20px, 0px, -135);
      }
      &:before {
        left: 25px;
        @include media(md) {
          left: 15px;
        }
      }
    }
    &.next-arrow {
      right: 0px;
      @include chevron(2px, 30px, 0px, 45);
      background-image: linear-gradient(-90deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, 0));
      @include media(sm) {
        display: flex;
        //right: -32px;
        @include chevron(2px, 20px, 0px, 45);
      }
      &:before {
        left: unset;
        right: -10px;
        @include media(md) {
          right: -25px;
        }
      }
    }
  }
}

// Parallax Items
// ----------------------------------------
#mesh-principle {
  position: absolute;
  left: 0;
  top: 0;
  opacity: .15;
  background: transparent url(#{$asset-path}imgs/mesh-1.svg) no-repeat 46% center;
  background-size: 170%;
  width: 100%;
  padding-bottom: (6/10*170%);
  //padding-bottom: 200vw;
  //transform: translateY(40vw) !important;
  z-index: 1;
  @include media(md) {
    opacity: .2;
    bottom: 90vw;
    background-size: 260%;
    padding-bottom: (6/10*260%);
  }
}

#mesh-product {
  position: absolute;
  bottom: 16vw;
  opacity: .15;
  background: transparent url(#{$asset-path}imgs/mesh-1.svg) no-repeat 46% center;
  background-size: 110%;
  width: 100%;
  padding-bottom: (6/10*110%);
  z-index: 5;
  @include media(md) {
    opacity: .15;
    bottom: 90vw;
    background-size: 260%;
    padding-bottom: (6/10*260%);
  }
}

// Particles
// ----------------------------------------

#particles-principle {
  position: absolute;
  left: 0;
  top: 0;
  //opacity: .15;
  width: 100%;
  //height: 105vw;
  height: 45vw;
  //padding-bottom: 200vw;
  //transform: translateY(40vw) !important;
  z-index: 1;
  @include media(md) {
    width: 100%;
    height: 110vh;
    top: 100vh;
  }
}

#particles-product {
  position: absolute;
  left: 0;
  bottom: 0;
  //opacity: .15;
  width: 100%;
  //height: 105vw;
  height: 45vw;
  //padding-bottom: 200vw;
  //transform: translateY(40vw) !important;
  z-index: 1;
  @include media(md) {
    width: 100%;
    height: 130vh;
    bottom: 90vw;
  }
}
