@mixin chevron($chevron-thickness, $chevron-size, $chevron-offset, $rotate, $color:#ffffff) {
  &::before {
    border-style: solid;
    border-color: $color;
    border-width: $chevron-thickness $chevron-thickness 0 0;
    content: '';
    display: inline-block;
    height: $chevron-size;
    width: $chevron-size;
    top: $chevron-offset;
    left: $chevron-offset;
    position: relative;
    transform: rotate(#{$rotate}deg);
    transition: all .3s;
  }
}

@mixin res-text($divider, $font-size, $line-height, $letter-spacing: 0) {
  font-size: (#{$font-size/$divider}vw);
  line-height: (#{$line-height/$divider}vw);
  letter-spacing: #{$letter-spacing}vw;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-v-center {
  display: flex;
  align-items: center;
}

%flex-h-center {
  display: flex;
  justify-content: center;
}
