#main-nav {
  top: 0;
  left: 0;
  width: 100%;
  //background-color: #df2c2f;
  background-image: linear-gradient(180deg, rgba(255,255,255,1), rgba(255,255,255,.0));
  position: fixed;
  //position: absolute;
  z-index: 11;
  box-sizing: border-box;
  padding: 0 20px;
  color: $color-font;
  display: flex;
  justify-content: center;
  transition: all .25s;
  height: $nav-height;
  visibility: hidden;
  body.window-loaded & {
    visibility: visible;
  }
  @include media(nav) {
    position: fixed;
    height: $nav-height-mobile;
    padding: 0;
  }
  .nav-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    //background-color: rgba(200, 200, 255, .9);
    opacity: 0;
    transition: opacity .5s ease-in-out;
    transition-delay: .0s;
    z-index: -1;
  }
  .nav-max {
    @include media(nav) {
      display: none;
    }
    width: 100%;
    max-width: 1606px;
    display: flex;
    position: relative;
    height: 100%;
  }
  .nav-logo {
    width: 180px;
    //height: $nav-height;
    height: 100%;
    position: absolute;
    left: 20px; // 160
    top: 0;
    background: transparent url(#{$asset-path}imgs/logo@2x.png) no-repeat center center;
    background-size: auto 50%;
  }
  .nav-list {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    .nav-item {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-font;
      font-size: 18px;
      line-height: 18px;
      margin: 0 0 0 3.5vw;
      letter-spacing: 1px;
      display: block;
      float: left;
      &:hover {
        color: $color1;
      }
      &.active {
        color: $color1;
        font-weight: 500;
      }
      @media (min-width: 1920px) {
        margin: 0 0 0 55px;
      }
      @media (max-width: 1460px) {
        font-size: 16px;
        line-height: 18px;
        letter-spacing: .5px;
        margin: 0 0 0 3.5vw;
      }
      @media (max-width: 1300px) {
        margin: 0 0 0 2.5vw;
      }
      @media (max-width: 1200px) {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }

  // Mobile
  // ----------------------------------------
  .nav-mini {
    width: 100%;
    height: 100%;
    @include media(nav-plus) {
      display: none;
    }
    @extend %flex-center;
    .nav-logo {
      left: 10px;
      width: 60px;
      height: 100%;
      background-color: transparent;
      background-size: 100%;
    }
    ._nav-right {
      position: absolute;
      top: 0;
      right: 10px;
      height: 100%;
      @extend %flex-v-center;
      .nav-txt-menu {
        font-size: 14px;
        line-height: $nav-height-mobile;
        @include media(xs) {
          font-size: 12px;
        }
      }
    }
    ._txt-open { display: block; }
    ._txt-close { display: none; }
  }
  #nav-toggle {
    display: inline-block;
    cursor: pointer;
    top: 24px;
    right: 45px;
    //margin-top: 20px;
    transition: all 300ms ease-in-out;
    z-index: 9;
    width: 24px;
    height: 24px;
    position: absolute;
    @include media(xs) {
      right: 40px;
    }
    span {
      cursor: pointer;
      border-radius: 1px;
      height: 2px;
      width: 1.5em;
      background: #000000;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
      &:after, &:before {
        cursor: pointer;
        border-radius: 1px;
        height: 2px;
        width: 1.5em;
        background: #000000;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
      }
      &:before {
        top: -8px;
      }
      &:after {
        bottom: -8px;
      }
    }
  }
}

// Mobile - on expanded
// ----------------------------------------
.mobile-menu-expanded {
  // top bar
  #main-nav {
    background-color: #ffffff;
    #nav-toggle {
      top: 20px;
      span {
        background-color: transparent;
        &:before {
          top: 5px;
          transform: rotate(45deg);
        }
        &:after {
          top: 5px;
          transform: rotate(-45deg);
        }
      }
    }
    ._txt-open { display: none; }
    ._txt-close { display: block; }
    .nav-list {
      opacity: 1;
    }
  }

  // Expanded Content
  // ----------------------------------------
  #nav-expanded {
    display: block;
  }
}

#nav-expanded {
  display: none;
  //display: block;
  position: fixed;
  z-index: 10;
  width: 100vw;
  top: #{$nav-height-mobile};
  height: calc(100vh - #{$nav-height-mobile});
  bottom: 0;
  background: #ffffff url(#{$asset-path}imgs/mobile-menu-mesh.png) no-repeat center 10px;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
  ._inner {
    width: 100%;
    height: 100%;
    padding: 20px 0 0 0;
    box-sizing: border-box;
    //@extend %flex-center;
    //flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .nav-item {
    display: block;
    text-decoration: none;
    color: $color-font;
    font-size: 3vw;
    padding: 3vw 0;
    letter-spacing: .3vw;
    width: 100%;
    text-align: center;
    display: block;
    &.active {
      font-weight: 500;
      color: $color1;
    }
    @include media(sm) {
      font-size: 4.7vw;
      line-height: 5vw;
      //padding: 4vw 0;
    }
  }
  ._btn-contact {
    color: #ffffff;
    font-size: 24px;
    width: 392px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    letter-spacing: .2vw;
    background-image: linear-gradient(-90deg, #c11218, #ed1c24);
    margin: 5vw 0 5vw 0;
    @include media(sm) {
      font-size: 4.7vw;
      width: 70vw;
      height: 15vw;
      letter-spacing: .8vw;
      margin: 5vw 0 15vw 0;
    }
  }
}

body.scrolled-nav {
  #main-nav {
    @include media(nav-plus) {
      height: $nav-height-short;
    }
    .nav-bg {
      opacity: 1;
    }
  }
}

