/* The Modal (background) */
.ml-popup {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .back-drop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 201;
  }

  .mp-outer {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    height: 80vh;
    margin: 10vh 0 0 0;
    @include media(sm) {
      padding: 0 10px;
      margin-top: 5vh;
    }
  }

  /* Modal Content/Box */
  .mp-inner {
    padding: 40px 0 60px 0;
    //border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    max-width: 1100px; // popup width here!
    box-sizing: border-box;
    position: relative;
    z-index: 209;
    overflow: hidden;
    height: 100%;
    &.__padding-news {
      padding: 80px 0;
    }
    @include media(sm) {
      padding: 28px 0px;
      width: 100%;
    }
  }
  .sp-close {
    position: absolute;
    font-size: 60px;
    color: #7f7f7f;
    top: 0px;
    right: -3px;
    cursor: pointer;
    font-weight: 300;
    z-index: 9;
    &:hover {
      color: #000000;
    }
    @include media(sm) {
      top: -14px;
      right: -3px;
      font-size: 50px;
    }
  }

  // Content
  // ----------------------------------------

  .heading1 {
    font-size: 64px;
    margin: 0 0 0 0;
    @include media(md) {
      font-size: 30px;
      margin: 0 0 0 0;
    }
  }
  .heading2 {
    font-size: 30px;
    line-height: 34px;
    margin: 22px 0 0 0;
    font-weight: 500;
    font-family: $font-family2;
    text-align: center;
    letter-spacing: 1px;
    @include media(sm) {
      font-size: 18px;
      line-height: 24px;
      margin: 10px 0 0 0;
    }
  }
  .heading3 {
    font-size: 30px;
    margin: 5px 0 0 0;
    font-weight: 300;
    @include media(md) {
      font-size: 14px;
      margin: 5px 0 0 0;
    }
  }
  .btn-close {
    font-weight: 500;
    font-size: 20px;
    margin: 25px auto 0 auto;
    width: 100px;
    @include media(md) {
      font-size: 15px;
    }
  }

  .__title-policy {
    margin: 18px 0 50px 0;
    @include media(sm) {
      margin: 5px 0 20px 0;
    }
  }

  // for gradient
  .scroll-container-wrap {
    position: relative;
    height: calc(100% - 100px);
    @include media(sm) {
      // policy header height, margin
      height: calc(100% - 24px - 20px);
    }
    .bottom-gradient {
      width: calc(100% - 20px);
      height: 100px;
      background-image: linear-gradient(0deg, #ffffff, rgba(255,255,255, 0));
      position: absolute;
      bottom: 0;
      z-index: 1;
      @include media(sm) {
        width: calc(100% - 20px);
      }
    }
  }

  // Common
  // ----------------------------------------
  .scroll-container {
    padding: 0 120px 0 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    @include media(md) {
      padding: 0 60px 0 10px;
    }
    @include media(sm) {
      padding: 0 20px 0 5px;
    }
  }
}

#popup-policy {
  .mp-outer {
    @include media(sm) {
      margin: 0;
      height: 100vh;
    }
  }
  h4 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .5px;
    @include media(sm) {
      font-size: 12px;
      line-height: 18px;
    }
  }
  h4:first-child {
    margin-top: 0;
  }
  ol > li, p {
    font-size: 18px;
    line-height: 22px;
    @include media(sm) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  ol {
    padding-left: 20px;
  }
  li {
    padding-bottom: 20px;
  }
}

// Popup - News
// ----------------------------------------
.__popup-with-carousel {
  $carousel-height: 380px;
  $carousel-width: 505px;
  $carousel-height-md: 300px;
  $carousel-width-md: 400px;

  //display: block;

  .all-content-wrap {
    display: flex;
    @include media(md) {
      flex-wrap: wrap;
      position: relative;
      height: 100%;
      padding-right: 30px;
    }
    @include media(sm) {
      padding-right: 10px;
    }
  }

  ._header-1 {
    font-size: 30px;
    line-height: 34px;
    text-transform: uppercase;
    font-family: $font-family2;
    margin: 0 0 20px 0;
    @include media(md) {
      margin: 15px 0 20px 0;
    }
    @include media(sm) {
      font-size: 18px;
      line-height: 22px;
      margin: 12px 0 15px 0;
    }
  }
  ._category {
    color: $color1;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 3px 0;
    @include media(sm) {
      font-size: 12px;
      line-height: 12px;
      margin: 0 0 5px 0;
    }
  }
  ._date {
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 10px 0;
    @include media(sm) {
      font-size: 11px;
      line-height: 12px;
      margin: 0 0 15px 0;
    }
  }
  p, ul {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    @include media(sm) {
      font-size: 12px;
      line-height: 18px;
      margin: 15px 0 5px 0;
    }
  }
  ._emphasis {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    @include media(sm) {
      font-size: 14px;
      line-height: 18px;
      margin: 0 0 5px 0;
    }
  }

  // Override
  // ----------------------------------------
  .mp-inner {
    padding: 80px 0;
    @include media(sm) {
      padding: 50px 0 20px 0;
    }
  }
  .mp-outer {
    height: auto;
    @include media(md) {
      height: 85vh;
      padding-right: 0;
    }
  }
  .scroll-container-wrap {
    width: 58%;
    height: 600px;
    @include media(md) {
      width: 100%;
      height: auto;
    }
  }
  .sp-close {
    @include media(md) {
      top: -10px;
      right: 10px;
    }
    @include media(sm) {
      right: 5px;
    }
  }
  .scroll-container {
    padding: 0 30px 0 0;
    @include media(md) {
      padding: 0 2vw 0 0;
      height: auto;
    }
  }
  .popup-carousel {
    width: $carousel-width;
    margin-right: 30px;
    height: $carousel-height;
    @include media(md) {
      height: auto;
      margin-right: 0;
      width: 100%;
    }

    .slick-arrow {
      position: absolute;
      z-index: 1;
      //height: $carousel-height;
      height: 100%;
      top: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      @include media(sm) {
        transform: scale(.75);
      }
      &.prev-arrow {
        left: 15px;
        @include chevron(2px, 30px, 0px, -135);
        @include media(sm) {
          left: 8px;
        }
      }
      &.next-arrow {
        right: 15px;
        @include chevron(2px, 30px, 0px, 45);
        @include media(sm) {
          right: 8px;
        }
      }
    }
    ._carousel_item {
      background-color: #eeeeee;
      width: 100%;
      //padding-bottom: $height;
      padding-bottom: $carousel-height;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @include media(md) {
        height: auto;
        padding-bottom: 75%;
      }
    }
  }
}

#popup-contact {
  .mp-outer {
    background: transparent;
    height: auto;
  }
  .mp-inner {
    background-color: #ffffff;
    padding: 80px 100px;
    @include media(md) {
      padding: 60px 60px;
    }
    @include media(sm) {
      padding: 40px 0;
    }
  }
  .sp-close {
    right: 24px;
    @include media(sm) {
      right: 6px;
    }
  }
  ._heading {
    font-size: 50px;
    line-height: 50px;
    margin: 0 0 30px 0;
    @include media(sm) {
      font-size: 25px;
      line-height: 25px;
      margin: 0 0 15px 0;
    }
  }
  ._subheading {
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    margin: 0 0 45px 0;
    @include media(sm) {
      margin: 0 0 20px 0;
      font-size: 12px;
      line-height: 18px;
    }
  }
  .scroll-container {
    position: relative;
    padding: 0px;
    overflow-x: hidden;
    @include media(sm) {
      height: 75vh;
    }
  }
  .form-wrap {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    @include media(sm) {
      padding: 0 15px;
    }
  }

  // toggler
  &.email-sent {
    #contact-form { display: none; }
  }
  &:not(.email-sent) {
    ._thank-you { display: none; }
  }
  &.sending {
    ._send { display: none; }
  }
  &:not(.sending) {
    ._sending { display: none; }
  }

  // thank you
  ._thank-you {
    h3 {
      font-size: 24px;
      line-height: 24px;
      margin: 20px 0;
      color: $color1;
      @include media(sm) {
        font-size: 20px;
        line-height: 24px;
      }
    }
    p {
      font-size: 18px;
      line-height: 24px;
      margin: 0;
      font-weight: 300;
      @include media(sm) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

#contact-form {
  $gutter-width: 10px;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + #{($gutter-width * 2)});
  margin: 0 -#{$gutter-width} 0 -#{$gutter-width};
  ._col {
    padding: 0 $gutter-width;
    box-sizing: border-box;
    // sub col
    & ._col {
      padding: 0 0;
    }
  }
  ._submit-btn {
    font-size: 22px;
    width: 100%;
    height: 60px;
    max-width: 260px;
    letter-spacing: 2px;
    margin: 20px 0 0 0;
    @include media(sm) {
      max-width: unset;
      font-size: 16px;
      margin: 15px 0 0 0;
      height: 50px;
    }
  }
  #description {
    height: 170px;
    @include media(sm) {
      height: 100px;
    }
  }
}
