$asset-path: "../";

$content-padding: 10px;
$content-padding-mobile: 10px;
$content-width: 1240px;
$content-width-padded: #{$content-width + $content-padding * 2};

$color1: #ed1c24;
$color2: #7f7f7f;
$color3: #bf022a;
$color-danger: #DE0000;

$color-font: #000000;
$color-font-lighter: #7f7f7f;
$color-font2: #373737;
$color-input-border: #cccccc;

$color-bg1: #fffffff;

$nav-height: 105px;
$nav-height-short: 65px;
$nav-height-mobile: 50px;

$font-family-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-family1: 'Helvetica Neue', sans-serif;
$font-family2: 'Helvetica Neue Condensed', sans-serif;
$font-family3: $font-family-system;

// Amination
// ----------------------------------------
$transition1-0: all .85s cubic-bezier(0.19, 1, 0.22, 1) .15s;
$transition1-1: all .85s cubic-bezier(0.19, 1, 0.22, 1) .5s;
$transition1-2: all .85s cubic-bezier(0.19, 1, 0.22, 1) .85s;
$transition1-3: all .85s cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
$transition-reverse: all .5s cubic-bezier(0.19, 1, 0.22, 1) .35s;
