@charset "UTF-8";
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

#sec-contact #contact-btn, #main-nav .nav-mini {
  display: flex;
  justify-content: center;
  align-items: center; }

#main-nav .nav-mini ._nav-right {
  display: flex;
  align-items: center; }

.col-12 {
  width: 100%; }

@media (min-width: 576px) {
  .xs-col-6 {
    width: 50%; }
  .xs-col-12 {
    width: 100%; } }

@media (min-width: 768px) {
  .sm-col-6 {
    width: 50%; } }

@media (min-width: 992px) {
  .md-col-6 {
    width: 50%; }
  .md-col-4 {
    width: 33.33%; }
  .md-col-3 {
    width: 25%; } }

.ml-col {
  box-sizing: border-box; }

@media (min-width: 1600px) {
  .show-xl {
    display: none !important; } }

@media (max-width: 1599px) {
  .hide-xl {
    display: none !important; } }

@media (min-width: 1399px) {
  .show-lg {
    display: none !important; } }

@media (max-width: 1400px) {
  .hide-lg {
    display: none !important; } }

@media (min-width: 992px) {
  .show-md {
    display: none !important; } }

@media (max-width: 991px) {
  .hide-md {
    display: none !important; } }

@media (max-width: 1200px) {
  .hide-mdp {
    display: none !important; } }

@media (min-width: 768px) {
  .show-sm {
    display: none !important; } }

@media (max-width: 767px) {
  .hide-sm {
    display: none !important; } }

@media (min-width: 576px) {
  .show-xs {
    display: none !important; } }

@media (max-width: 575px) {
  .hide-xs {
    display: none !important; } }

body {
  background-color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  color: #000000;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

.font1 {
  font-family: "Helvetica Neue", sans-serif; }

.font2 {
  font-family: "Helvetica Neue Condensed", sans-serif; }

.font3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.color1 {
  color: #ed1c24; }

.color2 {
  color: #7f7f7f; }

.color-danger {
  color: #DE0000; }

.color-white {
  color: #ffffff; }

.color-font {
  color: #000000; }

.bold {
  font-weight: bold; }

.flex {
  display: flex; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-h-center {
  display: flex;
  justify-content: center; }

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.layout-outer {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 10px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .layout-outer {
      padding: 0 10px; } }

.layout-inner {
  width: 100%;
  max-width: 1240px;
  box-sizing: border-box; }

.layout-full {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; }

.layout-padding-1 {
  padding: 0 32px; }
  @media (max-width: 991px) {
    .layout-padding-1 {
      padding: 0 4vw; } }

.ts-btn {
  width: 300px;
  height: 67px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ed1c24;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none; }
  .ts-btn:hover {
    background-color: #bf022a; }
  .ts-btn.ts-btn-black {
    background-color: black; }
    .ts-btn.ts-btn-black:hover {
      background-color: #555555; }
  @media (max-width: 767px) {
    .ts-btn {
      font-size: 15px;
      width: 150px;
      height: 35px; } }

.text-center {
  text-align: center; }

#sec-intro {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: #ffffff;
  transition: opacity 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, height 0.01s linear 1.25s;
  overflow: hidden; }
  #sec-intro ._intro {
    background: white url(../imgs/banner-intro.jpg) no-repeat center center;
    background-size: cover;
    width: 59.27083vw;
    height: 33.59375vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-38%, -50%);
            transform: translate(-38%, -50%); }
    @media (max-width: 991px) {
      #sec-intro ._intro {
        width: 87.53846vw;
        height: 49.61538vw;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); } }
  #sec-intro .desc-wrap {
    position: absolute;
    top: 20vw;
    right: 4.6vw;
    overflow: hidden;
    width: 24vw;
    float: left;
    z-index: 1; }
    @media (max-width: 991px) {
      #sec-intro .desc-wrap {
        width: 35vw;
        right: 7vw;
        top: 28vw; } }
  #sec-intro .horizontal-wrap {
    display: flex;
    width: 200%;
    z-index: 1;
    -webkit-animation: forward-slider 20s ease-in-out infinite;
            animation: forward-slider 20s ease-in-out infinite;
    -webkit-animation-delay: -6.66667s;
            animation-delay: -6.66667s; }
    #sec-intro .horizontal-wrap.second-one {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation-delay: 3.33333s;
              animation-delay: 3.33333s;
      -webkit-transform: translate(50%, 0);
              transform: translate(50%, 0); }
  #sec-intro ._desc-item {
    width: 50%;
    box-sizing: border-box;
    padding: 0 4% 0 0;
    color: #7f7f7f;
    text-align: right;
    float: left;
    z-index: 1;
    font-size: 1.5625vw;
    line-height: 2.08333vw;
    letter-spacing: 0.02vw; }
    @media (max-width: 991px) {
      #sec-intro ._desc-item {
        font-size: 2.30769vw;
        line-height: 3.07692vw;
        letter-spacing: 0.02vw; } }

@-webkit-keyframes forward-slider {
  0% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0); }
  20% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0); }
  25% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0); }
  45% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0); }
  50% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  70% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  75% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0); }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0); } }

@keyframes forward-slider {
  0% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0); }
  20% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0); }
  25% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0); }
  45% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0); }
  50% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  70% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  75% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0); }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0); } }

@-webkit-keyframes forward-slider-2 {
  0% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0); }
  50% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0); }
  75% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0); } }

@keyframes forward-slider-2 {
  0% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0); }
  50% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0); }
  75% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0); } }

#_sec-main {
  background: #ffffff;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 6; }
  @media (max-width: 991px) {
    #_sec-main {
      display: flex;
      align-items: center; } }
  #_sec-main #home-video {
    min-width: 100%;
    min-height: 100%;
    position: absolute; }
    @media (max-width: 991px) {
      #_sec-main #home-video {
        -webkit-transform: translateX(-31%);
                transform: translateX(-31%); } }
    @media (max-width: 767px) {
      #_sec-main #home-video {
        -webkit-transform: translateX(-33.2%);
                transform: translateX(-33.2%); } }
  #_sec-main .home-video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0) 80%);
    width: 100vw;
    height: 100vh; }
  #_sec-main #intro-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 55%;
    width: 1520px;
    height: 876px;
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    padding: 40px 80px 0 160px; }
    @media (max-width: 1599px) {
      #_sec-main #intro-wrap {
        left: 52%; } }
    @media (max-width: 991px) {
      #_sec-main #intro-wrap {
        -webkit-transform: none !important;
                transform: none !important;
        width: 100%;
        height: 100%;
        padding: 0;
        right: 0%;
        left: 0%;
        top: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: relative; } }
  #_sec-main ._bi-scg {
    width: 428.5px;
    margin: 0 0 8px 0;
    z-index: 1;
    top: 0; }
    @media (max-width: 991px) {
      #_sec-main ._bi-scg {
        position: absolute;
        margin: 0 0 1vw 0;
        width: 52vw;
        left: 20vw; } }
  #_sec-main ._bi-inter {
    width: 570.5px;
    margin: 0 0 67px 0;
    z-index: 1; }
    @media (max-width: 991px) {
      #_sec-main ._bi-inter {
        position: absolute;
        margin: 0 0 7vw 5vw;
        width: 70vw; } }
  #_sec-main ._intro {
    font-size: 30px;
    line-height: 38px;
    z-index: 1; }
    @media (max-width: 991px) {
      #_sec-main ._intro {
        position: absolute;
        font-size: 4.6875vw;
        line-height: 5.625vw;
        letter-spacing: 0vw; } }
  #_sec-main ._people {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 860px;
    z-index: 0;
    width: 830px; }
    @media (max-width: 991px) {
      #_sec-main ._people {
        bottom: 0;
        width: 114%;
        left: -9vw; } }
  #_sec-main #home-contact-btn {
    width: 390px;
    margin: 65px 0 0 0;
    position: relative;
    height: 85px;
    z-index: 1; }
    @media (max-width: 991px) {
      #_sec-main #home-contact-btn {
        width: 60.9375vw;
        height: 12.5vw;
        margin: 10vw 0 -5vw 0;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); } }
    #_sec-main #home-contact-btn #home-email-input {
      width: 390px;
      box-sizing: border-box;
      position: absolute;
      border: 3px solid #ed1c24;
      top: 0;
      left: 0;
      height: 100%;
      padding: 15px 20px;
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 0; }
      @media (max-width: 991px) {
        #_sec-main #home-contact-btn #home-email-input {
          width: 60.9375vw;
          padding: 1.5vw 3vw 1vw 3vw;
          font-size: 3.4375vw;
          line-height: 4.6875vw;
          letter-spacing: 0vw; } }
      #_sec-main #home-contact-btn #home-email-input::-webkit-input-placeholder {
        color: #7f7f7f;
        letter-spacing: 2px; }
      #_sec-main #home-contact-btn #home-email-input:-ms-input-placeholder {
        color: #7f7f7f;
        letter-spacing: 2px; }
      #_sec-main #home-contact-btn #home-email-input::-ms-input-placeholder {
        color: #7f7f7f;
        letter-spacing: 2px; }
      #_sec-main #home-contact-btn #home-email-input::placeholder {
        color: #7f7f7f;
        letter-spacing: 2px; }
        @media (max-width: 991px) {
          #_sec-main #home-contact-btn #home-email-input::-webkit-input-placeholder {
            letter-spacing: .5vw; }
          #_sec-main #home-contact-btn #home-email-input:-ms-input-placeholder {
            letter-spacing: .5vw; }
          #_sec-main #home-contact-btn #home-email-input::-ms-input-placeholder {
            letter-spacing: .5vw; }
          #_sec-main #home-contact-btn #home-email-input::placeholder {
            letter-spacing: .5vw; } }
    #_sec-main #home-contact-btn .btn-primary {
      width: 100%;
      font-size: 22px;
      line-height: 22px;
      height: 100%;
      z-index: 1;
      position: relative;
      letter-spacing: 4px; }
      @media (max-width: 991px) {
        #_sec-main #home-contact-btn .btn-primary {
          font-size: 3.4375vw;
          line-height: 3.4375vw;
          letter-spacing: 0.5vw; } }
      #_sec-main #home-contact-btn .btn-primary:hover {
        opacity: 1; }
    #_sec-main #home-contact-btn.active {
      -webkit-transform: translateX(-24%);
              transform: translateX(-24%); }
      #_sec-main #home-contact-btn.active .btn-primary {
        width: 235px;
        margin-left: 390px; }
        @media (max-width: 991px) {
          #_sec-main #home-contact-btn.active .btn-primary {
            width: 35.9375vw;
            margin-left: 56.25vw; } }
      @media (max-width: 991px) {
        #_sec-main #home-contact-btn.active {
          margin-left: -31vw; } }
  @media (max-width: 991px) {
    #_sec-main ._bi-scg {
      top: 26vw; }
    #_sec-main ._bi-inter {
      top: 46vw; }
    #_sec-main ._intro {
      top: 60vw; }
    #_sec-main ._people {
      top: 90vw; }
    #_sec-main #home-contact-btn {
      top: 125vw; } }
  @media (max-width: 991px) and (min-device-aspect-ratio: 320 / 667) {
    #_sec-main ._bi-scg {
      top: 16vw; }
    #_sec-main ._bi-inter {
      top: 36vw; }
    #_sec-main ._intro {
      top: 50vw; }
    #_sec-main ._people {
      top: 62vw; }
    #_sec-main #home-contact-btn {
      top: 92vw; } }
  @media (max-width: 991px) and (min-device-aspect-ratio: 320 / 568) {
    #_sec-main ._bi-scg {
      top: 16vw; }
    #_sec-main ._bi-inter {
      top: 36vw; }
    #_sec-main ._intro {
      top: 47vw; }
    #_sec-main ._people {
      top: 60vw; }
    #_sec-main #home-contact-btn {
      top: 95vw; } }
  @media (max-width: 991px) and (min-device-aspect-ratio: 768 / 1024) and (min-width: 768px) {
    #_sec-main ._bi-scg {
      width: 40vw;
      left: 28vw;
      top: 10vw; }
    #_sec-main ._bi-inter {
      width: 50vw;
      left: 23vw;
      top: 26vw; }
    #_sec-main ._intro {
      top: 32vw;
      -webkit-transform: scale(0.75);
              transform: scale(0.75); }
    #_sec-main ._people {
      top: 40vw; }
    #_sec-main #home-contact-btn {
      top: 75vw; } }

#scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  font-size: 1.04167vw;
  line-height: 1.04167vw;
  letter-spacing: 0.1vw; }
  @media (max-width: 991px) {
    #scroll-down {
      color: white;
      font-size: 3.125vw;
      line-height: 3.125vw;
      letter-spacing: 0.1vw; } }
  #scroll-down ._v-line {
    width: 1px;
    background-color: #ffffff;
    height: 2.08333vw;
    margin: 1.5vw 0 0 0; }
    @media (max-width: 991px) {
      #scroll-down ._v-line {
        margin: 3.5vw 0 0 0;
        height: 7.8125vw; } }

#_sec-principle {
  padding-bottom: 100px;
  position: relative; }
  @media (max-width: 991px) {
    #_sec-principle {
      margin: 0 0 0 0;
      padding-bottom: 4vw; } }
  #_sec-principle .layout-inner {
    z-index: 2; }
  #_sec-principle .principle-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 991px) {
      #_sec-principle .principle-wrap {
        flex-direction: column; } }
  #_sec-principle .principle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    opacity: 0;
    position: relative;
    top: 100px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.35s; }
    @media (max-width: 1200px) {
      #_sec-principle .principle {
        -webkit-transform: scale(0.9);
                transform: scale(0.9); } }
    @media (max-width: 991px) {
      #_sec-principle .principle {
        -webkit-transform: unset;
                transform: unset;
        flex-direction: row;
        margin: 0 0 5% 0; } }
    #_sec-principle .principle.do-animate {
      opacity: 1;
      top: 0;
      margin-top: 0;
      transition: all 0.85s cubic-bezier(0.19, 1, 0.22, 1) 0.15s;
      transition-delay: 0s; }
      #_sec-principle .principle.do-animate:nth-child(2) {
        transition-delay: .25s; }
      #_sec-principle .principle.do-animate:nth-child(3) {
        transition-delay: .5s; }
  #_sec-principle ._img {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
    @media (max-width: 991px) {
      #_sec-principle ._img {
        width: 40%;
        padding-bottom: 40%;
        background-size: contain;
        margin: 0; } }
    #_sec-principle ._img.__img-1 {
      background-image: url(../imgs/principle-1.png); }
      @media (max-width: 991px) {
        #_sec-principle ._img.__img-1 {
          margin-left: -1.3vw; } }
    #_sec-principle ._img.__img-2 {
      background-image: url(../imgs/principle-2.png); }
      @media (max-width: 991px) {
        #_sec-principle ._img.__img-2 {
          margin-left: -1.3vw; } }
    #_sec-principle ._img.__img-3 {
      background-image: url(../imgs/principle-3.png); }
      @media (max-width: 991px) {
        #_sec-principle ._img.__img-3 {
          margin-left: -1.3vw; } }
  #_sec-principle ._wrap {
    text-align: center;
    padding: 0 20px; }
    @media (max-width: 991px) {
      #_sec-principle ._wrap {
        width: 60%;
        padding: 0 0 0 6%;
        box-sizing: border-box;
        text-align: left; } }
  #_sec-principle ._title {
    font-size: 30px;
    line-height: 34px;
    font-weight: 500; }
    @media (max-width: 991px) {
      #_sec-principle ._title {
        margin: 0 0 2.1875vw 0;
        font-size: 3.75vw;
        line-height: 5.625vw; } }
    @media (max-width: 575px) {
      #_sec-principle ._title {
        margin: 0 0 2.1875vw 0;
        font-size: 4.53125vw;
        line-height: 6.5625vw; } }
  #_sec-principle ._desc {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin: 0; }
    @media (max-width: 991px) {
      #_sec-principle ._desc {
        font-size: 2.8125vw;
        line-height: 3.75vw; } }
    @media (max-width: 575px) {
      #_sec-principle ._desc {
        font-size: 3.125vw;
        line-height: 4.6875vw; } }

#_sec-counter {
  position: relative;
  overflow: hidden;
  z-index: 1; }
  #_sec-counter ._outer {
    display: flex;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;
    background-image: linear-gradient(-45deg, #f7f7f7, #ffffff);
    overflow: hidden;
    z-index: 0; }
  #_sec-counter .counter-wrap {
    z-index: 6;
    width: 100%;
    max-width: 1030px; }
  #_sec-counter ._counter {
    font-size: 90px;
    line-height: 90px;
    font-weight: 500;
    display: flex; }
    @media (max-width: 991px) {
      #_sec-counter ._counter {
        font-size: 7.5vw;
        line-height: 7.5vw; } }
  #_sec-counter ._caption {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 2px;
    font-weight: 300;
    margin: 20px 0 0 3px; }
    @media (max-width: 991px) {
      #_sec-counter ._caption {
        font-size: 3.75vw;
        line-height: 3.75vw;
        margin: 5vw 0 0 0;
        letter-spacing: .2vw; } }
  #_sec-counter ._plus {
    font-weight: 100;
    margin: 0 0 0 8px; }
  #_sec-counter ._billions {
    font-size: 60px;
    line-height: 64px;
    font-weight: 100;
    margin: 0 0 0 20px; }
    @media (max-width: 991px) {
      #_sec-counter ._billions {
        margin: 0 0 0 2vw;
        font-size: 5.625vw;
        line-height: 5.625vw; } }
  #_sec-counter ._dollar-sign {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 0 7px 40px 0;
    color: #7f7f7f; }
    @media (max-width: 991px) {
      #_sec-counter ._dollar-sign {
        margin: 0 1vw 2vw 0;
        font-size: 4.6875vw;
        line-height: 4.6875vw; } }
  #_sec-counter .top-wrap {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    padding: 100px 0 60px 0;
    border-bottom: 1px solid #dddddd; }
    @media (max-width: 991px) {
      #_sec-counter .top-wrap {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 8vw 0; } }
    #_sec-counter .top-wrap .partner-count-wrap {
      width: 50%; }
      @media (max-width: 991px) {
        #_sec-counter .top-wrap .partner-count-wrap {
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;
          width: 100%; } }
    #_sec-counter .top-wrap ._main-desc {
      width: 50%;
      font-size: 40px;
      line-height: 46px;
      margin: 5px 0 0 0; }
      @media (max-width: 991px) {
        #_sec-counter .top-wrap ._main-desc {
          text-align: center;
          width: 100%;
          margin: 0 0 4vw 0;
          font-size: 4.6875vw;
          line-height: 5.625vw; } }
    #_sec-counter .top-wrap ._counter-1 {
      font-size: 100px;
      line-height: 100px;
      margin-left: -2px; }
      @media (max-width: 991px) {
        #_sec-counter .top-wrap ._counter-1 {
          font-size: 11.25vw;
          line-height: 11.25vw; } }
  #_sec-counter .bottom-wrap {
    display: flex;
    padding: 75px 0 85px 0; }
    @media (max-width: 991px) {
      #_sec-counter .bottom-wrap {
        padding: 10vw 0 10vw 0; } }
    #_sec-counter .bottom-wrap > * {
      width: 50%; }
    #_sec-counter .bottom-wrap ._trade {
      border-right: 1px solid #dddddd; }
      @media (max-width: 991px) {
        #_sec-counter .bottom-wrap ._trade {
          display: flex;
          align-items: center;
          flex-direction: column; } }
    #_sec-counter .bottom-wrap ._turnover {
      display: flex;
      justify-content: flex-end; }
      @media (max-width: 991px) {
        #_sec-counter .bottom-wrap ._turnover {
          justify-content: center; } }
      @media (max-width: 991px) {
        #_sec-counter .bottom-wrap ._turnover ._inner {
          display: flex;
          align-items: center;
          flex-direction: column; } }
      #_sec-counter .bottom-wrap ._turnover ._counter {
        display: flex;
        align-items: flex-end; }
        @media (max-width: 991px) {
          #_sec-counter .bottom-wrap ._turnover ._counter {
            text-align: center;
            width: 100%; } }

#sec-solution {
  position: relative;
  overflow: hidden;
  z-index: 6; }
  #sec-solution .header-section {
    width: 100%;
    position: absolute;
    z-index: 4;
    pointer-events: none;
    text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.8); }
    @media (max-width: 991px) {
      #sec-solution .header-section {
        margin-top: 30px; } }
    @media (max-width: 767px) {
      #sec-solution .header-section {
        text-shadow: none;
        position: relative; }
        #sec-solution .header-section .color-white {
          color: #000000; } }
    @media (max-width: 991px) {
      #sec-solution .header-section .color-white {
        color: #000000 !important; } }
  #sec-solution .solution-wrap {
    z-index: 6;
    color: #ffffff;
    display: flex;
    width: 100%;
    height: 50vw; }
    @media (max-width: 767px) {
      #sec-solution .solution-wrap {
        flex-wrap: wrap;
        height: auto; } }
  #sec-solution .solution {
    width: 25%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5vw 3vw;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1; }
    @media (hover: hover) {
      #sec-solution .solution:hover {
        z-index: 2;
        width: 65%; }
        #sec-solution .solution:hover:before {
          opacity: 0; }
        #sec-solution .solution:hover:after {
          -webkit-transform: rotate(40deg);
                  transform: rotate(40deg);
          opacity: 1; }
        #sec-solution .solution:hover ._img:before {
          opacity: 0; } }
    @media (max-width: 767px) {
      #sec-solution .solution {
        width: 100%;
        height: 50vw;
        padding: 0 0 0 45vw; } }
    #sec-solution .solution:after, #sec-solution .solution:before {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      -webkit-transform: rotate(24deg);
              transform: rotate(24deg);
      -webkit-transform-origin: left bottom;
              transform-origin: left bottom;
      transition: all .5s ease-in-out .1s;
      z-index: 2; }
    #sec-solution .solution:before {
      opacity: 1;
      background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)); }
      @media (max-width: 767px) {
        #sec-solution .solution:before {
          -webkit-transform: rotate(-25deg) translate(0, 100%);
                  transform: rotate(-25deg) translate(0, 100%);
          width: 100%;
          -webkit-transform-origin: left bottom;
                  transform-origin: left bottom;
          background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0)); } }
    #sec-solution .solution:after {
      opacity: 0;
      background-image: linear-gradient(0deg, rgba(173, 80, 80, 0.5), rgba(255, 255, 255, 0)); }
    #sec-solution .solution ._img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #cccccc;
      z-index: 1; }
      #sec-solution .solution ._img ._video {
        position: absolute;
        width: 65vw;
        height: 100%;
        left: -10.4vw; }
        @media (max-width: 991px) {
          #sec-solution .solution ._img ._video {
            display: none; } }
      #sec-solution .solution ._img:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        transition: opacity .5s ease-in-out .1s;
        z-index: 4; }
      #sec-solution .solution ._img ._fg {
        position: absolute;
        z-index: 3;
        bottom: 0;
        width: 100%;
        height: 100%; }
        @media (max-width: 767px) {
          #sec-solution .solution ._img ._fg {
            display: none;
            visibility: hidden; } }
      @media (max-width: 767px) {
        #sec-solution .solution ._img ._video {
          display: none;
          visibility: hidden; } }
      #sec-solution .solution ._img.__ss-1 {
        background: transparent url(../imgs/solutions/ss1-bg.jpg) no-repeat center center;
        background-size: cover; }
        @media (max-width: 767px) {
          #sec-solution .solution ._img.__ss-1 {
            background: transparent url(../imgs/solutions/ssm-1.jpg) no-repeat center center;
            background-size: cover; } }
        #sec-solution .solution ._img.__ss-1 ._fg {
          background: transparent url(../imgs/solutions/ss1-top.png) no-repeat center center;
          background-size: 33.5vw;
          background-position: calc(50% - .7vw) bottom; }
      #sec-solution .solution ._img.__ss-2 {
        background: transparent url(../imgs/solutions/ss2-bg.jpg) no-repeat center center;
        background-size: cover; }
        @media (max-width: 767px) {
          #sec-solution .solution ._img.__ss-2 {
            background: transparent url(../imgs/solutions/ssm-2.jpg) no-repeat center center;
            background-position: center center;
            background-size: cover; } }
        #sec-solution .solution ._img.__ss-2 ._fg {
          background: transparent url(../imgs/solutions/ss2-top.png) no-repeat center center;
          background-size: 37.5vw;
          background-position: 0 bottom; }
      #sec-solution .solution ._img.__ss-3 {
        background: transparent url(../imgs/solutions/ss3-bg.jpg) no-repeat center center;
        background-size: cover; }
        @media (max-width: 767px) {
          #sec-solution .solution ._img.__ss-3 {
            background: transparent url(../imgs/solutions/ssm-3.jpg) no-repeat center center;
            background-position: center center;
            background-size: cover; } }
        #sec-solution .solution ._img.__ss-3 ._fg {
          background: transparent url(../imgs/solutions/ss3-top.png) no-repeat center center;
          background-size: 26.5vw;
          background-position: calc(50% + 9vw) bottom; }
      #sec-solution .solution ._img.__ss-4 {
        background: transparent url(../imgs/solutions/ss4-bg.jpg) no-repeat center center;
        background-size: cover; }
        @media (max-width: 767px) {
          #sec-solution .solution ._img.__ss-4 {
            background: transparent url(../imgs/solutions/ssm-4.jpg) no-repeat center center;
            background-position: center center;
            background-size: cover; } }
        #sec-solution .solution ._img.__ss-4 ._fg {
          background: transparent url(../imgs/solutions/ss4-top.png) no-repeat center center;
          background-size: 45vw;
          background-position: calc(50%) bottom; }
    #sec-solution .solution ._title {
      font-size: 2.5vw;
      line-height: 2.5vw;
      text-transform: uppercase;
      font-family: "Helvetica Neue Condensed", sans-serif;
      letter-spacing: .1vw;
      margin: 29vw 0 1vw 0;
      z-index: 3; }
      @media (max-width: 767px) {
        #sec-solution .solution ._title {
          font-size: 7.5vw;
          line-height: 7.5vw;
          letter-spacing: 0.3vw;
          margin: 9vw 0 0 0; } }
    #sec-solution .solution ul {
      position: relative;
      z-index: 3;
      padding: 0 0 0 1vw; }
      @media (max-width: 767px) {
        #sec-solution .solution ul {
          padding: 0 0 0 2vw; } }
    #sec-solution .solution li {
      list-style: none;
      font-size: 1.04167vw;
      line-height: 1.04167vw;
      letter-spacing: .05vw;
      position: relative;
      margin: 0 0 .3vw 0;
      transition: all .3s ease-in-out .1s; }
      @media (max-width: 767px) {
        #sec-solution .solution li {
          font-size: 3.125vw;
          line-height: 3.75vw;
          letter-spacing: 0vw; } }
      #sec-solution .solution li:before {
        content: "·";
        font-size: 30px;
        position: absolute;
        left: -1vw;
        top: -.1vw; }
        @media (max-width: 767px) {
          #sec-solution .solution li:before {
            font-size: 5vw;
            line-height: 4vw;
            letter-spacing: 0vw;
            left: -2vw; } }
  @media (hover: hover) {
    #sec-solution .solution:hover li {
      font-size: 1.35417vw;
      line-height: 1.35417vw; } }

#sec-presences .presences-wrap {
  width: 100%;
  height: 45vw;
  position: relative;
  overflow: hidden; }
  @media (max-width: 767px) {
    #sec-presences .presences-wrap {
      height: auto; } }

#sec-presences #world-map {
  width: 100vw;
  position: absolute;
  -webkit-transform: translate(0, 5vw);
          transform: translate(0, 5vw);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.35s; }
  #sec-presences #world-map.do-animate {
    transition: all 0.85s cubic-bezier(0.19, 1, 0.22, 1) 0.15s;
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }

#sec-presences #exploding-line {
  position: absolute;
  width: 77vw;
  left: 12.5vw;
  top: 7.5vw;
  -webkit-clip-path: polygon(81% 46%, 81% 46%, 81% 46%, 81% 46%, 81% 46%, 81% 46%);
          clip-path: polygon(81% 46%, 81% 46%, 81% 46%, 81% 46%, 81% 46%, 81% 46%);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.35s; }
  #sec-presences #exploding-line.explode {
    transition: all 0.85s cubic-bezier(0.66, 0, 0.28, 1) 0.75s;
    -webkit-clip-path: polygon(81% 0%, 100% 25%, 100% 100%, 0% 100%, 0% 20%, 30% -20%);
            clip-path: polygon(81% 0%, 100% 25%, 100% 100%, 0% 100%, 0% 20%, 30% -20%); }

#sec-presences .stat-wrap {
  position: absolute;
  left: 18vw;
  background-color: rgba(200, 200, 200, 0.1);
  text-align: center;
  padding: 2.6vw 1.2vw;
  top: 11.8vw;
  -webkit-transform: translate(0, 5vw);
          transform: translate(0, 5vw);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.35s; }
  #sec-presences .stat-wrap.do-animate {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    transition: all 0.85s cubic-bezier(0.19, 1, 0.22, 1) 0.5s; }
  @media (max-width: 767px) {
    #sec-presences .stat-wrap {
      position: relative;
      top: 1vw;
      left: 12.5vw;
      padding: 7vw 3vw 8vw 3vw;
      width: 75vw;
      box-sizing: border-box;
      margin: 14vw 0 10vw 0; } }
  #sec-presences .stat-wrap .bottom-wrap {
    margin: 1.2vw 0 0 0;
    padding: 1vw 0 0 0;
    border-top: 1px solid #000000;
    display: flex;
    width: 22vw;
    box-sizing: border-box;
    justify-content: space-between; }
    @media (max-width: 767px) {
      #sec-presences .stat-wrap .bottom-wrap {
        margin: 3vw 0 0 0;
        padding: 3vw 0 0 0;
        width: 100%; } }
  #sec-presences .stat-wrap .stat-item {
    width: 33.33333%; }
  #sec-presences .stat-wrap ._num, #sec-presences .stat-wrap ._num-global {
    color: #ed1c24;
    font-weight: bold;
    font-family: "Helvetica Neue Condensed", sans-serif; }
  #sec-presences .stat-wrap ._num {
    margin: 0 0 .5vw 0;
    font-size: 3.64583vw;
    line-height: 3.64583vw;
    letter-spacing: 0vw; }
    @media (max-width: 767px) {
      #sec-presences .stat-wrap ._num {
        font-size: 11.29032vw;
        line-height: 11.29032vw;
        letter-spacing: 0vw; } }
  #sec-presences .stat-wrap ._num-global {
    margin: 0 0 .1vw 0;
    font-size: 6.25vw;
    line-height: 6.25vw;
    letter-spacing: 0vw; }
    @media (max-width: 767px) {
      #sec-presences .stat-wrap ._num-global {
        font-size: 19.35484vw;
        line-height: 19.35484vw;
        letter-spacing: 0vw; } }
  #sec-presences .stat-wrap ._caption {
    font-weight: 500;
    text-align: center;
    font-size: 0.9375vw;
    line-height: 1.25vw;
    letter-spacing: 0.03vw; }
    @media (max-width: 767px) {
      #sec-presences .stat-wrap ._caption {
        font-size: 2.90323vw;
        line-height: 3.54839vw;
        letter-spacing: 0vw; } }
  #sec-presences .stat-wrap ._caption-global {
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 1.25vw;
    letter-spacing: 0.1vw; }
    @media (max-width: 767px) {
      #sec-presences .stat-wrap ._caption-global {
        font-size: 3.87097vw;
        line-height: 4.19355vw;
        letter-spacing: 0vw; } }

#sec-contact {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  padding-top: 100px; }
  @media (max-width: 991px) {
    #sec-contact {
      padding-top: 0; } }
  #sec-contact .map-wrap {
    width: 43%;
    overflow: hidden;
    min-height: 30vw;
    position: relative;
    display: block; }
    @media (max-width: 1200px) {
      #sec-contact .map-wrap {
        width: 50%; } }
    @media (max-width: 767px) {
      #sec-contact .map-wrap {
        width: 100%;
        padding-bottom: 80%; } }
    #sec-contact .map-wrap iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute; }
  #sec-contact #info-globe {
    position: absolute;
    top: -100px;
    left: -10%;
    z-index: 0; }
    @media (max-width: 991px) {
      #sec-contact #info-globe {
        display: none; } }
  #sec-contact .info-wrap {
    width: 57%;
    box-sizing: border-box;
    padding: 60px 20px 60px 125px;
    position: relative;
    display: flex;
    flex-direction: column; }
    @media (max-width: 1200px) {
      #sec-contact .info-wrap {
        width: 50%;
        padding: 40px 20px 50px 60px; } }
    @media (max-width: 767px) {
      #sec-contact .info-wrap {
        width: 100%;
        padding: 20px 15px 35px 15px; } }
    #sec-contact .info-wrap h2 {
      font-family: "Helvetica Neue Condensed", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0 0 25px 0;
      font-size: 36px;
      line-height: 40px;
      position: relative;
      z-index: 2; }
      @media (max-width: 991px) {
        #sec-contact .info-wrap h2 {
          font-size: 30px;
          line-height: 36px; } }
      @media (max-width: 767px) {
        #sec-contact .info-wrap h2 {
          font-size: 19px;
          line-height: 22px;
          letter-spacing: .5px;
          margin: 0 0 15px 0; } }
    #sec-contact .info-wrap h4 {
      font-weight: 300;
      margin: 0 0 40px 0;
      font-size: 18px;
      line-height: 26px;
      position: relative;
      z-index: 2; }
      @media (max-width: 767px) {
        #sec-contact .info-wrap h4 {
          font-size: 14px;
          line-height: 18px;
          margin: 0 0 30px 0; } }
    #sec-contact .info-wrap .contact-wrap .contact-item {
      background-position: 0 0;
      background-repeat: no-repeat;
      padding: 3px 0 18px 40px;
      position: relative;
      z-index: 2; }
      #sec-contact .info-wrap .contact-wrap .contact-item a {
        color: #000000;
        text-decoration: none;
        letter-spacing: .5px;
        font-size: 18px;
        line-height: 20px; }
        @media (max-width: 767px) {
          #sec-contact .info-wrap .contact-wrap .contact-item a {
            font-size: 14px;
            line-height: 18px; } }
        #sec-contact .info-wrap .contact-wrap .contact-item a:hover {
          text-decoration: underline; }
    #sec-contact .info-wrap .contact-wrap .__map {
      background-image: url(../imgs/icon-marker.png);
      background-size: auto 26px;
      background-position: 3px 0; }
      #sec-contact .info-wrap .contact-wrap .__map a {
        text-decoration: underline; }
    #sec-contact .info-wrap .contact-wrap .__tel {
      background-image: url(../imgs/icon-phone.png);
      background-size: auto 22px;
      background-position: 1px 2px; }
    #sec-contact .info-wrap .contact-wrap .__fax {
      background-image: url(../imgs/icon-fax.png);
      background-size: auto 23px;
      background-position: 0 2px; }
    #sec-contact .info-wrap .contact-wrap .__mail {
      background-image: url(../imgs/icon-mail.png);
      background-size: auto 18px;
      background-position: 2px 5px; }
  #sec-contact #contact-btn {
    width: 100%;
    height: 70px;
    max-width: 400px;
    margin: 40px 0 0 0;
    font-size: 20px;
    letter-spacing: 2px;
    position: relative;
    z-index: 2; }
    @media (max-width: 767px) {
      #sec-contact #contact-btn {
        font-size: 14px;
        height: 50px;
        margin: 20px 0 0 0; } }

#_sec-partner {
  position: relative;
  z-index: 6;
  margin: 8vw 0 0 0; }
  @media (max-width: 991px) {
    #_sec-partner {
      margin: 0; } }
  #_sec-partner ._inner {
    display: flex;
    align-items: center;
    flex-direction: column; }
    @media (max-width: 991px) {
      #_sec-partner ._inner {
        padding: 0 4vw; } }
    @media (max-width: 575px) {
      #_sec-partner ._inner {
        padding: 0 1vw; } }
  #_sec-partner .partner-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 62.5%;
    margin: 2vw 0 0 0; }
    @media (max-width: 991px) {
      #_sec-partner .partner-wrap {
        flex-wrap: wrap;
        max-width: none; } }
  #_sec-partner ._wrapper {
    height: 8vw;
    display: block !important;
    float: left; }
    @media (max-width: 991px) {
      #_sec-partner ._wrapper {
        height: 20vw; } }
  #_sec-partner .partner-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 8vw; }
    #_sec-partner .partner-logo img {
      height: auto;
      align-self: center; }
    @media (max-width: 991px) {
      #_sec-partner .partner-logo {
        width: 100%;
        height: 20vw; } }
  #_sec-partner .__kubota {
    width: 7.03125vw; }
    @media (max-width: 991px) {
      #_sec-partner .__kubota {
        width: 16.25vw; } }
  #_sec-partner .__toyota {
    width: 6.25vw; }
    @media (max-width: 991px) {
      #_sec-partner .__toyota {
        width: 18.90625vw; } }
  #_sec-partner .__cotto {
    width: 4.16667vw;
    margin-top: -.4vw; }
    @media (max-width: 991px) {
      #_sec-partner .__cotto {
        width: 12.8125vw; } }
  #_sec-partner .__ralali {
    width: 8.22917vw; }
    @media (max-width: 991px) {
      #_sec-partner .__ralali {
        width: 20.3125vw; } }
  #_sec-partner .__mitsui {
    width: 2.91667vw; }
    @media (max-width: 991px) {
      #_sec-partner .__mitsui {
        width: 8.59375vw; } }
  #_sec-partner .__saison {
    width: 8.85417vw; }
    @media (max-width: 991px) {
      #_sec-partner .__saison {
        width: 21.875vw; } }
  #_sec-partner .__sf {
    width: 8.59375vw; }
    @media (max-width: 991px) {
      #_sec-partner .__sf {
        width: 24.21875vw; } }
  #_sec-partner .__scg-logistic {
    width: 7.8125vw; }
    @media (max-width: 991px) {
      #_sec-partner .__scg-logistic {
        width: 23.4375vw; } }
  #_sec-partner .__great-wall {
    width: 4.16667vw; }
    @media (max-width: 991px) {
      #_sec-partner .__great-wall {
        width: 12.5vw; } }
  #_sec-partner .__scg-express {
    width: 8.54167vw; }
    @media (max-width: 991px) {
      #_sec-partner .__scg-express {
        width: 24.21875vw; } }
  #_sec-partner .__bj {
    width: 2.8125vw; }
    @media (max-width: 991px) {
      #_sec-partner .__bj {
        width: 8.4375vw; } }
  #_sec-partner .__b2 {
    width: 6.5625vw; }
    @media (max-width: 991px) {
      #_sec-partner .__b2 {
        width: 19.6875vw; } }
  #_sec-partner .__siam-bangla {
    width: 7.29167vw; }
    @media (max-width: 991px) {
      #_sec-partner .__siam-bangla {
        width: 21.875vw; } }
  #_sec-partner .__thaitheparos {
    width: 6.97917vw; }
    @media (max-width: 991px) {
      #_sec-partner .__thaitheparos {
        width: 21.875vw; } }
  #_sec-partner .__tvi {
    width: 5.20833vw; }
    @media (max-width: 991px) {
      #_sec-partner .__tvi {
        width: 17.1875vw; } }
  #_sec-partner .__alcoa {
    width: 5.20833vw; }
    @media (max-width: 991px) {
      #_sec-partner .__alcoa {
        width: 21.875vw; } }
  #_sec-partner .__betagro {
    width: 4.01042vw; }
    @media (max-width: 991px) {
      #_sec-partner .__betagro {
        width: 12.5vw; } }
  #_sec-partner .__biller {
    width: 7.55208vw; }
    @media (max-width: 991px) {
      #_sec-partner .__biller {
        width: 21.875vw; } }
  #_sec-partner .__canfor {
    width: 7.8125vw; }
    @media (max-width: 991px) {
      #_sec-partner .__canfor {
        width: 21.875vw; } }
  #_sec-partner .__chememan {
    width: 5.46875vw; }
    @media (max-width: 991px) {
      #_sec-partner .__chememan {
        width: 21.875vw; } }
  #_sec-partner .__chevron {
    width: 3.22917vw; }
    @media (max-width: 991px) {
      #_sec-partner .__chevron {
        width: 9.6875vw; } }
  #_sec-partner .__deestone {
    width: 7.8125vw; }
    @media (max-width: 991px) {
      #_sec-partner .__deestone {
        width: 21.875vw; } }
  #_sec-partner .__domtar {
    width: 4.89583vw; }
    @media (max-width: 991px) {
      #_sec-partner .__domtar {
        width: 21.875vw; } }
  #_sec-partner .__eat {
    width: 4.16667vw; }
    @media (max-width: 991px) {
      #_sec-partner .__eat {
        width: 14.0625vw; } }
  #_sec-partner .__knauf {
    width: 4.58333vw; }
    @media (max-width: 991px) {
      #_sec-partner .__knauf {
        width: 18.75vw; } }
  #_sec-partner .__lixil {
    width: 4.94792vw; }
    @media (max-width: 991px) {
      #_sec-partner .__lixil {
        width: 18.75vw; } }
  #_sec-partner .__bjc {
    width: 4.94792vw; }
    @media (max-width: 991px) {
      #_sec-partner .__bjc {
        width: 20.3125vw; } }
  #_sec-partner .__mondi {
    width: 6.25vw; }
    @media (max-width: 991px) {
      #_sec-partner .__mondi {
        width: 21.875vw; } }
  #_sec-partner .__nd-rubber {
    width: 5.15625vw; }
    @media (max-width: 991px) {
      #_sec-partner .__nd-rubber {
        width: 18.75vw; } }
  #_sec-partner .__noritake {
    width: 5.20833vw; }
    @media (max-width: 991px) {
      #_sec-partner .__noritake {
        width: 21.875vw; } }
  #_sec-partner .__novelis {
    width: 3.90625vw; }
    @media (max-width: 991px) {
      #_sec-partner .__novelis {
        width: 15.625vw; } }
  #_sec-partner .__president-rice {
    width: 3.64583vw; }
    @media (max-width: 991px) {
      #_sec-partner .__president-rice {
        width: 15.625vw; } }
  #_sec-partner .__saint-gobain {
    width: 5.72917vw; }
    @media (max-width: 991px) {
      #_sec-partner .__saint-gobain {
        width: 21.875vw; } }
  #_sec-partner .__shell {
    width: 3.125vw; }
    @media (max-width: 991px) {
      #_sec-partner .__shell {
        width: 14.0625vw; } }
  #_sec-partner .__suzano {
    width: 4.27083vw; }
    @media (max-width: 991px) {
      #_sec-partner .__suzano {
        width: 21.875vw; } }
  #_sec-partner .__thaikk {
    width: 4.94792vw; }
    @media (max-width: 991px) {
      #_sec-partner .__thaikk {
        width: 21.875vw; } }
  #_sec-partner .custom-dots {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    margin: 3vw 0;
    padding: 0; }
    @media (max-width: 991px) {
      #_sec-partner .custom-dots {
        margin: 10vw 0; } }
  #_sec-partner .dot-wrap {
    position: relative; }
  #_sec-partner .hex {
    margin: 0 .5vw;
    position: relative;
    cursor: pointer; }
    @media (max-width: 991px) {
      #_sec-partner .hex {
        margin: 0 2vw; } }
    #_sec-partner .hex.inner-dot {
      top: 0;
      left: 0;
      position: absolute;
      -webkit-transform: scale(0.8);
              transform: scale(0.8); }
    #_sec-partner .hex .top {
      width: 0;
      border-bottom: 4px solid #dddddd;
      border-left: 6.92px solid transparent;
      border-right: 6.92px solid transparent; }
    #_sec-partner .hex .middle {
      width: 13.84px;
      height: 8px;
      background: #dddddd; }
    #_sec-partner .hex .bottom {
      width: 0;
      border-top: 4px solid #dddddd;
      border-left: 6.92px solid transparent;
      border-right: 6.92px solid transparent; }
  #_sec-partner .inner-dot .top {
    border-bottom-color: white; }
  #_sec-partner .inner-dot .middle {
    background-color: white; }
  #_sec-partner .inner-dot .bottom {
    border-top-color: white; }
  #_sec-partner .custom-dots .slick-active .outer-dot .top {
    border-bottom-color: #DE0000; }
  #_sec-partner .custom-dots .slick-active .outer-dot .middle {
    background-color: #DE0000; }
  #_sec-partner .custom-dots .slick-active .outer-dot .bottom {
    border-top-color: #DE0000; }
  #_sec-partner .custom-dots .slick-active .inner-dot {
    display: none; }

#_sec-community {
  width: 100vw;
  height: 70vw;
  margin: -34vw 0 0 0;
  position: relative;
  overflow: hidden;
  z-index: 6;
  pointer-events: none; }
  @media (max-width: 991px) {
    #_sec-community {
      height: 114vw;
      margin: 0vw 0 0 0; } }
  #_sec-community ._com-header {
    font-family: "Helvetica Neue Condensed", sans-serif;
    font-size: 2.60417vw;
    line-height: 3.125vw;
    letter-spacing: 0.05vw;
    text-align: center;
    margin: 50vw 0 3vw 0;
    position: relative;
    z-index: 6; }
    @media (max-width: 991px) {
      #_sec-community ._com-header {
        margin: 0 0 8.5vw 0;
        font-size: 7.8125vw;
        line-height: 9.375vw;
        letter-spacing: 0.05vw; } }
  #_sec-community ._because {
    position: relative;
    text-align: center;
    margin: 0;
    font-weight: 300;
    z-index: 6;
    font-size: 1.25vw;
    line-height: 1.77083vw;
    letter-spacing: 0.07vw; }
    @media (max-width: 991px) {
      #_sec-community ._because {
        font-size: 3.75vw;
        line-height: 5.3125vw;
        letter-spacing: 0.07vw; } }
  #_sec-community #text-community {
    position: relative; }
    @media (max-width: 1200px) {
      #_sec-community #text-community {
        bottom: 23vw; } }
    @media (max-width: 991px) {
      #_sec-community #text-community {
        bottom: 0; } }

#bg-sec-community {
  background: white url(../imgs/banner-community.jpg) no-repeat center bottom;
  background-size: 100% auto;
  width: 100%;
  padding-bottom: 60%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0; }
  @media (max-width: 991px) {
    #bg-sec-community {
      background-size: 110% auto;
      background-position: center bottom;
      padding-bottom: 200%; } }

#sec-products {
  position: relative;
  overflow: hidden; }
  #sec-products .v-line {
    position: relative;
    display: flex;
    justify-content: center;
    height: 7.29167vw;
    width: 100vw; }
    #sec-products .v-line:before {
      content: '';
      height: 100%;
      width: 1px;
      background-color: #dddddd; }
    #sec-products .v-line.__type-0 {
      margin: 0 0 -5vw 0; }
      @media (max-width: 991px) {
        #sec-products .v-line.__type-0 {
          margin: 5vw 0 0 0; } }
    #sec-products .v-line.__type-1 {
      margin: 7vw 0 5vw 0; }
  #sec-products #product-carousel {
    min-height: 50vw;
    position: relative;
    z-index: 6; }
    @media (max-width: 991px) {
      #sec-products #product-carousel {
        min-height: 90vw; } }
    #sec-products #product-carousel .slick-slide {
      cursor: pointer; }
  #sec-products .product-item {
    pointer-events: none; }
    #sec-products .product-item .content-wrap {
      padding: 0;
      margin: 0 -2vw;
      cursor: pointer;
      box-sizing: border-box;
      transition: all .5s ease-in-out; }
      @media (max-width: 991px) {
        #sec-products .product-item .content-wrap {
          margin: 12vw 0; } }
    #sec-products .product-item ._thumb {
      width: 100%;
      padding-bottom: 75%;
      background-position: center center;
      background-size: cover;
      transition: all .5s ease-in-out; }
      @media (max-width: 991px) {
        #sec-products .product-item ._thumb {
          transition: all .5s ease-in-out; } }
    #sec-products .product-item ._title {
      margin: -2vw 0 1vw 0;
      font-family: "Helvetica Neue Condensed", sans-serif;
      font-weight: bold;
      font-size: 1.21212vw;
      line-height: 1.51515vw;
      letter-spacing: 0.1vw;
      text-transform: uppercase;
      color: #000000;
      text-align: center;
      transition: all .5s ease-in-out; }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        #sec-products .product-item ._title {
          transition: none; } }
      @media (max-width: 991px) {
        #sec-products .product-item ._title {
          font-size: 2.8125vw;
          line-height: 3.4375vw;
          letter-spacing: 0.1vw; } }
    #sec-products .product-item ._excerpt {
      font-size: 1.0101vw;
      line-height: 1.31313vw;
      letter-spacing: 0vw;
      opacity: 0;
      transition: opacity .5s ease-in-out .5s;
      text-align: center; }
      @media (max-width: 991px) {
        #sec-products .product-item ._excerpt {
          font-size: 3.125vw;
          line-height: 4.0625vw;
          letter-spacing: 0.1vw; } }
      @media (max-width: 767px) {
        #sec-products .product-item ._excerpt {
          font-size: 3.75vw;
          line-height: 4.6875vw;
          letter-spacing: 0.1vw; } }
  #sec-products .slick-slide {
    outline: none;
    opacity: 0;
    -webkit-transform: translateY(20vw);
            transform: translateY(20vw); }
  @media (max-width: 991px) {
    #sec-products .slick-active {
      position: relative;
      z-index: 1; }
      #sec-products .slick-active .content-wrap {
        margin: 0;
        width: 250% !important;
        margin-left: -75%; } }
  @media (max-width: 991px) {
    #sec-products .slick-active ._thumb {
      width: 70vw;
      padding-bottom: 52.5vw;
      margin: 0 12.5vw; } }
  #sec-products .slick-active ._excerpt {
    display: block;
    opacity: 1; }
  #sec-products .slick-active ._title {
    margin: 3vw 0 2vw 0;
    color: #ed1c24;
    font-size: 1.81818vw;
    line-height: 2.37374vw;
    letter-spacing: 0.1vw; }
    @media (max-width: 991px) {
      #sec-products .slick-active ._title {
        margin: 7vw 0 7vw 0;
        font-size: 5.625vw;
        line-height: 6.25vw;
        letter-spacing: 0.1vw; } }
  @media (max-width: 991px) {
    #sec-products .slick-slide:not(.slick-active) ._title {
      margin-top: 3vw; } }
  #sec-products .slick-slide:not(.slick-active) ._thumb {
    -webkit-transform: scale(0.73);
            transform: scale(0.73); }
    @media (max-width: 991px) {
      #sec-products .slick-slide:not(.slick-active) ._thumb {
        width: 40vw;
        padding-bottom: 30vw;
        -webkit-transform: scale(1);
                transform: scale(1); } }
  #sec-products .slick-slide:not(.slick-active) ._excerpt {
    display: none;
    opacity: 1; }
  #sec-products #bg-text-products {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
    color: #f6f6f6;
    z-index: 6;
    font-size: 11.45833vw;
    line-height: 10.9375vw;
    letter-spacing: 0.1vw; }
    @media (max-width: 1200px) {
      #sec-products #bg-text-products {
        top: 45.5vw; } }
    @media (max-width: 991px) {
      #sec-products #bg-text-products {
        font-size: 15vw;
        line-height: 15vw;
        letter-spacing: 0.1vw;
        top: 82.5vw; } }

#sec-news {
  padding: 10px 0 150px 0;
  position: relative; }
  @media (max-width: 991px) {
    #sec-news {
      padding: 10px 0 200px 0; } }
  @media (max-width: 767px) {
    #sec-news {
      padding: 0 0 25vw 0; } }
  #sec-news #bg-text-news {
    position: absolute;
    top: -5vw;
    left: 0;
    text-align: center;
    font-weight: bold;
    width: 100%;
    color: #f6f6f6;
    z-index: 1;
    font-size: 9.375vw;
    line-height: 9.375vw;
    letter-spacing: 0.1vw; }
    @media (max-width: 1200px) {
      #sec-news #bg-text-news {
        top: 8vw; } }
    @media (max-width: 991px) {
      #sec-news #bg-text-news {
        font-size: 18.75vw;
        line-height: 18.75vw;
        letter-spacing: 0.2vw;
        top: 16vw;
        left: -2vw; } }
  #sec-news .news-item .content-wrap {
    padding: 0 2%;
    cursor: pointer; }
  #sec-news .news-item ._thumb {
    width: 100%;
    padding-bottom: 75%;
    background-position: center center;
    background-size: cover; }
  #sec-news .news-item ._category {
    color: #ed1c24;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    margin: 10px 0 2px 0; }
    @media (max-width: 767px) {
      #sec-news .news-item ._category {
        font-size: 10px;
        line-height: 14px;
        margin: 8px 0 0 0; } }
  #sec-news .news-item ._date {
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 10px 0; }
    @media (max-width: 767px) {
      #sec-news .news-item ._date {
        font-size: 9px;
        line-height: 13px;
        margin: 0 0 7px 0; } }
  #sec-news .news-item ._title {
    margin: 0;
    border-top: 1px solid #dddddd;
    padding-top: 10px;
    font-family: "Helvetica Neue Condensed", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: .5px;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      #sec-news .news-item ._title {
        padding-top: 7px;
        font-size: 13px;
        line-height: 18px; } }
  #sec-news .slick-slide {
    outline: none;
    opacity: 0;
    -webkit-transform: translateY(20vw);
            transform: translateY(20vw); }

#news-carousel {
  position: relative;
  z-index: 6; }
  #news-carousel .slick-list {
    padding: 0 15% 0 15%;
    position: relative; }
  #news-carousel .slick-arrow {
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 70px;
    transition: opacity .5s ease-in-out; }
    @media (max-width: 767px) {
      #news-carousel .slick-arrow {
        width: 60px; } }
    #news-carousel .slick-arrow.prev-arrow {
      left: 0px;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)); }
      #news-carousel .slick-arrow.prev-arrow::before {
        border-style: solid;
        border-color: #ffffff;
        border-width: 2px 2px 0 0;
        content: '';
        display: inline-block;
        height: 30px;
        width: 30px;
        top: 0px;
        left: 0px;
        position: relative;
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
        transition: all .3s; }
      @media (max-width: 767px) {
        #news-carousel .slick-arrow.prev-arrow::before {
          border-style: solid;
          border-color: #ffffff;
          border-width: 2px 2px 0 0;
          content: '';
          display: inline-block;
          height: 20px;
          width: 20px;
          top: 0px;
          left: 0px;
          position: relative;
          -webkit-transform: rotate(-135deg);
                  transform: rotate(-135deg);
          transition: all .3s; } }
      #news-carousel .slick-arrow.prev-arrow:before {
        left: 25px; }
        @media (max-width: 991px) {
          #news-carousel .slick-arrow.prev-arrow:before {
            left: 15px; } }
    #news-carousel .slick-arrow.next-arrow {
      right: 0px;
      background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)); }
      #news-carousel .slick-arrow.next-arrow::before {
        border-style: solid;
        border-color: #ffffff;
        border-width: 2px 2px 0 0;
        content: '';
        display: inline-block;
        height: 30px;
        width: 30px;
        top: 0px;
        left: 0px;
        position: relative;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        transition: all .3s; }
      @media (max-width: 767px) {
        #news-carousel .slick-arrow.next-arrow {
          display: flex; }
          #news-carousel .slick-arrow.next-arrow::before {
            border-style: solid;
            border-color: #ffffff;
            border-width: 2px 2px 0 0;
            content: '';
            display: inline-block;
            height: 20px;
            width: 20px;
            top: 0px;
            left: 0px;
            position: relative;
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
            transition: all .3s; } }
      #news-carousel .slick-arrow.next-arrow:before {
        left: unset;
        right: -10px; }
        @media (max-width: 991px) {
          #news-carousel .slick-arrow.next-arrow:before {
            right: -25px; } }

#mesh-principle {
  position: absolute;
  left: 0;
  top: 0;
  opacity: .15;
  background: transparent url(../imgs/mesh-1.svg) no-repeat 46% center;
  background-size: 170%;
  width: 100%;
  padding-bottom: 102%;
  z-index: 1; }
  @media (max-width: 991px) {
    #mesh-principle {
      opacity: .2;
      bottom: 90vw;
      background-size: 260%;
      padding-bottom: 156%; } }

#mesh-product {
  position: absolute;
  bottom: 16vw;
  opacity: .15;
  background: transparent url(../imgs/mesh-1.svg) no-repeat 46% center;
  background-size: 110%;
  width: 100%;
  padding-bottom: 66%;
  z-index: 5; }
  @media (max-width: 991px) {
    #mesh-product {
      opacity: .15;
      bottom: 90vw;
      background-size: 260%;
      padding-bottom: 156%; } }

#particles-principle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45vw;
  z-index: 1; }
  @media (max-width: 991px) {
    #particles-principle {
      width: 100%;
      height: 110vh;
      top: 100vh; } }

#particles-product {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45vw;
  z-index: 1; }
  @media (max-width: 991px) {
    #particles-product {
      width: 100%;
      height: 130vh;
      bottom: 90vw; } }

#main-nav {
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(180deg, white, rgba(255, 255, 255, 0));
  position: fixed;
  z-index: 11;
  box-sizing: border-box;
  padding: 0 20px;
  color: #000000;
  display: flex;
  justify-content: center;
  transition: all .25s;
  height: 105px;
  visibility: hidden; }
  body.window-loaded #main-nav {
    visibility: visible; }
  @media (max-width: 1199px) {
    #main-nav {
      position: fixed;
      height: 50px;
      padding: 0; } }
  #main-nav .nav-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    transition-delay: .0s;
    z-index: -1; }
  #main-nav .nav-max {
    width: 100%;
    max-width: 1606px;
    display: flex;
    position: relative;
    height: 100%; }
    @media (max-width: 1199px) {
      #main-nav .nav-max {
        display: none; } }
  #main-nav .nav-logo {
    width: 180px;
    height: 100%;
    position: absolute;
    left: 20px;
    top: 0;
    background: transparent url(../imgs/logo@2x.png) no-repeat center center;
    background-size: auto 50%; }
  #main-nav .nav-list {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    height: 100%; }
    #main-nav .nav-list .nav-item {
      text-decoration: none;
      text-transform: uppercase;
      color: #000000;
      font-size: 18px;
      line-height: 18px;
      margin: 0 0 0 3.5vw;
      letter-spacing: 1px;
      display: block;
      float: left; }
      #main-nav .nav-list .nav-item:hover {
        color: #ed1c24; }
      #main-nav .nav-list .nav-item.active {
        color: #ed1c24;
        font-weight: 500; }
      @media (min-width: 1920px) {
        #main-nav .nav-list .nav-item {
          margin: 0 0 0 55px; } }
      @media (max-width: 1460px) {
        #main-nav .nav-list .nav-item {
          font-size: 16px;
          line-height: 18px;
          letter-spacing: .5px;
          margin: 0 0 0 3.5vw; } }
      @media (max-width: 1300px) {
        #main-nav .nav-list .nav-item {
          margin: 0 0 0 2.5vw; } }
      @media (max-width: 1200px) {
        #main-nav .nav-list .nav-item {
          font-size: 16px;
          line-height: 18px; } }
  #main-nav .nav-mini {
    width: 100%;
    height: 100%; }
    @media (min-width: 1200px) {
      #main-nav .nav-mini {
        display: none; } }
    #main-nav .nav-mini .nav-logo {
      left: 10px;
      width: 60px;
      height: 100%;
      background-color: transparent;
      background-size: 100%; }
    #main-nav .nav-mini ._nav-right {
      position: absolute;
      top: 0;
      right: 10px;
      height: 100%; }
      #main-nav .nav-mini ._nav-right .nav-txt-menu {
        font-size: 14px;
        line-height: 50px; }
        @media (max-width: 575px) {
          #main-nav .nav-mini ._nav-right .nav-txt-menu {
            font-size: 12px; } }
    #main-nav .nav-mini ._txt-open {
      display: block; }
    #main-nav .nav-mini ._txt-close {
      display: none; }
  #main-nav #nav-toggle {
    display: inline-block;
    cursor: pointer;
    top: 24px;
    right: 45px;
    transition: all 300ms ease-in-out;
    z-index: 9;
    width: 24px;
    height: 24px;
    position: absolute; }
    @media (max-width: 575px) {
      #main-nav #nav-toggle {
        right: 40px; } }
    #main-nav #nav-toggle span {
      cursor: pointer;
      border-radius: 1px;
      height: 2px;
      width: 1.5em;
      background: #000000;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out; }
      #main-nav #nav-toggle span:after, #main-nav #nav-toggle span:before {
        cursor: pointer;
        border-radius: 1px;
        height: 2px;
        width: 1.5em;
        background: #000000;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out; }
      #main-nav #nav-toggle span:before {
        top: -8px; }
      #main-nav #nav-toggle span:after {
        bottom: -8px; }

.mobile-menu-expanded #main-nav {
  background-color: #ffffff; }
  .mobile-menu-expanded #main-nav #nav-toggle {
    top: 20px; }
    .mobile-menu-expanded #main-nav #nav-toggle span {
      background-color: transparent; }
      .mobile-menu-expanded #main-nav #nav-toggle span:before {
        top: 5px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .mobile-menu-expanded #main-nav #nav-toggle span:after {
        top: 5px;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
  .mobile-menu-expanded #main-nav ._txt-open {
    display: none; }
  .mobile-menu-expanded #main-nav ._txt-close {
    display: block; }
  .mobile-menu-expanded #main-nav .nav-list {
    opacity: 1; }

.mobile-menu-expanded #nav-expanded {
  display: block; }

#nav-expanded {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100vw;
  top: 50px;
  height: calc(100vh - 50px);
  bottom: 0;
  background: #ffffff url(../imgs/mobile-menu-mesh.png) no-repeat center 10px;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden; }
  #nav-expanded ._inner {
    width: 100%;
    height: 100%;
    padding: 20px 0 0 0;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  #nav-expanded .nav-item {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 3vw;
    padding: 3vw 0;
    letter-spacing: .3vw;
    width: 100%;
    text-align: center;
    display: block; }
    #nav-expanded .nav-item.active {
      font-weight: 500;
      color: #ed1c24; }
    @media (max-width: 767px) {
      #nav-expanded .nav-item {
        font-size: 4.7vw;
        line-height: 5vw; } }
  #nav-expanded ._btn-contact {
    color: #ffffff;
    font-size: 24px;
    width: 392px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    letter-spacing: .2vw;
    background-image: linear-gradient(-90deg, #c11218, #ed1c24);
    margin: 5vw 0 5vw 0; }
    @media (max-width: 767px) {
      #nav-expanded ._btn-contact {
        font-size: 4.7vw;
        width: 70vw;
        height: 15vw;
        letter-spacing: .8vw;
        margin: 5vw 0 15vw 0; } }

@media (min-width: 1200px) {
  body.scrolled-nav #main-nav {
    height: 65px; } }

body.scrolled-nav #main-nav .nav-bg {
  opacity: 1; }

#footer {
  overflow: hidden;
  background-image: linear-gradient(-90deg, #da151d, #ed1c24);
  position: relative; }
  #footer ._diagonal-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom left, #ed1c24 50%, rgba(237, 28, 36, 0) 50%);
    z-index: 0; }
  #footer .content-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1; }
  #footer .logo-wrap {
    width: 100%;
    height: 160px; }
    @media (max-width: 991px) {
      #footer .logo-wrap {
        height: 100px; } }
    @media (max-width: 767px) {
      #footer .logo-wrap {
        display: none; } }
  #footer ._footer-logo {
    width: 115px; }
    @media (max-width: 991px) {
      #footer ._footer-logo {
        width: 100px; } }
  #footer .bottom-wrap {
    border-top: 1px solid #ffffff;
    display: flex;
    align-items: center;
    padding: 30px 0; }
    @media (max-width: 991px) {
      #footer .bottom-wrap {
        justify-content: center;
        flex-wrap: wrap; } }
    @media (max-width: 767px) {
      #footer .bottom-wrap {
        border: none;
        padding: 20px 0; } }
  #footer .footer-item {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px; }
    @media (max-width: 991px) {
      #footer .footer-item {
        margin: 0;
        padding: 0 15px;
        border-left: 1px solid #7f7f7f; }
        #footer .footer-item:first-child, #footer .footer-item:last-child {
          border: none; } }
    @media (max-width: 767px) {
      #footer .footer-item {
        font-size: 10px;
        line-height: 16px; } }
  #footer .__copyright {
    text-transform: uppercase;
    margin-left: auto;
    margin-right: 0;
    letter-spacing: 1.5px; }
    @media (max-width: 991px) {
      #footer .__copyright {
        margin-top: 15px;
        width: 100%;
        text-align: center;
        line-height: 20px; } }
    @media (max-width: 767px) {
      #footer .__copyright {
        font-size: 7px;
        line-height: 12px;
        letter-spacing: 0; } }
  #footer a.footer-item {
    cursor: pointer; }
    #footer a.footer-item:hover {
      text-decoration: underline; }

#pre-footer {
  background: #7f7f7f;
  color: #ffffff;
  font-weight: bold;
  font-family: "Helvetica Neue Condensed", sans-serif;
  align-items: flex-end;
  padding: 18px 0 20px 0; }
  #pre-footer ._pf-text {
    font-size: 24px;
    line-height: 24px;
    margin-right: 25px;
    letter-spacing: 2px; }
    @media (max-width: 767px) {
      #pre-footer ._pf-text {
        font-size: 13px;
        line-height: 14px;
        letter-spacing: 1px;
        margin-right: 10px; } }
  #pre-footer ._pf-number {
    font-size: 54px;
    line-height: 48px;
    letter-spacing: 4px;
    text-decoration: none;
    color: #ffffff; }
    @media (max-width: 767px) {
      #pre-footer ._pf-number {
        font-size: 27px;
        line-height: 24px;
        letter-spacing: 2px; } }

/* The Modal (background) */
.ml-popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  /* Modal Content/Box */ }
  .ml-popup .back-drop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 201; }
  .ml-popup .mp-outer {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    height: 80vh;
    margin: 10vh 0 0 0; }
    @media (max-width: 767px) {
      .ml-popup .mp-outer {
        padding: 0 10px;
        margin-top: 5vh; } }
  .ml-popup .mp-inner {
    padding: 40px 0 60px 0;
    width: 100%;
    /* Could be more or less, depending on screen size */
    max-width: 1100px;
    box-sizing: border-box;
    position: relative;
    z-index: 209;
    overflow: hidden;
    height: 100%; }
    .ml-popup .mp-inner.__padding-news {
      padding: 80px 0; }
    @media (max-width: 767px) {
      .ml-popup .mp-inner {
        padding: 28px 0px;
        width: 100%; } }
  .ml-popup .sp-close {
    position: absolute;
    font-size: 60px;
    color: #7f7f7f;
    top: 0px;
    right: -3px;
    cursor: pointer;
    font-weight: 300;
    z-index: 9; }
    .ml-popup .sp-close:hover {
      color: #000000; }
    @media (max-width: 767px) {
      .ml-popup .sp-close {
        top: -14px;
        right: -3px;
        font-size: 50px; } }
  .ml-popup .heading1 {
    font-size: 64px;
    margin: 0 0 0 0; }
    @media (max-width: 991px) {
      .ml-popup .heading1 {
        font-size: 30px;
        margin: 0 0 0 0; } }
  .ml-popup .heading2 {
    font-size: 30px;
    line-height: 34px;
    margin: 22px 0 0 0;
    font-weight: 500;
    font-family: "Helvetica Neue Condensed", sans-serif;
    text-align: center;
    letter-spacing: 1px; }
    @media (max-width: 767px) {
      .ml-popup .heading2 {
        font-size: 18px;
        line-height: 24px;
        margin: 10px 0 0 0; } }
  .ml-popup .heading3 {
    font-size: 30px;
    margin: 5px 0 0 0;
    font-weight: 300; }
    @media (max-width: 991px) {
      .ml-popup .heading3 {
        font-size: 14px;
        margin: 5px 0 0 0; } }
  .ml-popup .btn-close {
    font-weight: 500;
    font-size: 20px;
    margin: 25px auto 0 auto;
    width: 100px; }
    @media (max-width: 991px) {
      .ml-popup .btn-close {
        font-size: 15px; } }
  .ml-popup .__title-policy {
    margin: 18px 0 50px 0; }
    @media (max-width: 767px) {
      .ml-popup .__title-policy {
        margin: 5px 0 20px 0; } }
  .ml-popup .scroll-container-wrap {
    position: relative;
    height: calc(100% - 100px); }
    @media (max-width: 767px) {
      .ml-popup .scroll-container-wrap {
        height: calc(100% - 24px - 20px); } }
    .ml-popup .scroll-container-wrap .bottom-gradient {
      width: calc(100% - 20px);
      height: 100px;
      background-image: linear-gradient(0deg, #ffffff, rgba(255, 255, 255, 0));
      position: absolute;
      bottom: 0;
      z-index: 1; }
      @media (max-width: 767px) {
        .ml-popup .scroll-container-wrap .bottom-gradient {
          width: calc(100% - 20px); } }
  .ml-popup .scroll-container {
    padding: 0 120px 0 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative; }
    @media (max-width: 991px) {
      .ml-popup .scroll-container {
        padding: 0 60px 0 10px; } }
    @media (max-width: 767px) {
      .ml-popup .scroll-container {
        padding: 0 20px 0 5px; } }

@media (max-width: 767px) {
  #popup-policy .mp-outer {
    margin: 0;
    height: 100vh; } }

#popup-policy h4 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .5px; }
  @media (max-width: 767px) {
    #popup-policy h4 {
      font-size: 12px;
      line-height: 18px; } }

#popup-policy h4:first-child {
  margin-top: 0; }

#popup-policy ol > li, #popup-policy p {
  font-size: 18px;
  line-height: 22px; }
  @media (max-width: 767px) {
    #popup-policy ol > li, #popup-policy p {
      font-size: 12px;
      line-height: 16px; } }

#popup-policy ol {
  padding-left: 20px; }

#popup-policy li {
  padding-bottom: 20px; }

.__popup-with-carousel .all-content-wrap {
  display: flex; }
  @media (max-width: 991px) {
    .__popup-with-carousel .all-content-wrap {
      flex-wrap: wrap;
      position: relative;
      height: 100%;
      padding-right: 30px; } }
  @media (max-width: 767px) {
    .__popup-with-carousel .all-content-wrap {
      padding-right: 10px; } }

.__popup-with-carousel ._header-1 {
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  font-family: "Helvetica Neue Condensed", sans-serif;
  margin: 0 0 20px 0; }
  @media (max-width: 991px) {
    .__popup-with-carousel ._header-1 {
      margin: 15px 0 20px 0; } }
  @media (max-width: 767px) {
    .__popup-with-carousel ._header-1 {
      font-size: 18px;
      line-height: 22px;
      margin: 12px 0 15px 0; } }

.__popup-with-carousel ._category {
  color: #ed1c24;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 3px 0; }
  @media (max-width: 767px) {
    .__popup-with-carousel ._category {
      font-size: 12px;
      line-height: 12px;
      margin: 0 0 5px 0; } }

.__popup-with-carousel ._date {
  font-size: 12px;
  line-height: 14px;
  margin: 0 0 10px 0; }
  @media (max-width: 767px) {
    .__popup-with-carousel ._date {
      font-size: 11px;
      line-height: 12px;
      margin: 0 0 15px 0; } }

.__popup-with-carousel p, .__popup-with-carousel ul {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300; }
  @media (max-width: 767px) {
    .__popup-with-carousel p, .__popup-with-carousel ul {
      font-size: 12px;
      line-height: 18px;
      margin: 15px 0 5px 0; } }

.__popup-with-carousel ._emphasis {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500; }
  @media (max-width: 767px) {
    .__popup-with-carousel ._emphasis {
      font-size: 14px;
      line-height: 18px;
      margin: 0 0 5px 0; } }

.__popup-with-carousel .mp-inner {
  padding: 80px 0; }
  @media (max-width: 767px) {
    .__popup-with-carousel .mp-inner {
      padding: 50px 0 20px 0; } }

.__popup-with-carousel .mp-outer {
  height: auto; }
  @media (max-width: 991px) {
    .__popup-with-carousel .mp-outer {
      height: 85vh;
      padding-right: 0; } }

.__popup-with-carousel .scroll-container-wrap {
  width: 58%;
  height: 600px; }
  @media (max-width: 991px) {
    .__popup-with-carousel .scroll-container-wrap {
      width: 100%;
      height: auto; } }

@media (max-width: 991px) {
  .__popup-with-carousel .sp-close {
    top: -10px;
    right: 10px; } }

@media (max-width: 767px) {
  .__popup-with-carousel .sp-close {
    right: 5px; } }

.__popup-with-carousel .scroll-container {
  padding: 0 30px 0 0; }
  @media (max-width: 991px) {
    .__popup-with-carousel .scroll-container {
      padding: 0 2vw 0 0;
      height: auto; } }

.__popup-with-carousel .popup-carousel {
  width: 505px;
  margin-right: 30px;
  height: 380px; }
  @media (max-width: 991px) {
    .__popup-with-carousel .popup-carousel {
      height: auto;
      margin-right: 0;
      width: 100%; } }
  .__popup-with-carousel .popup-carousel .slick-arrow {
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    cursor: pointer; }
    @media (max-width: 767px) {
      .__popup-with-carousel .popup-carousel .slick-arrow {
        -webkit-transform: scale(0.75);
                transform: scale(0.75); } }
    .__popup-with-carousel .popup-carousel .slick-arrow.prev-arrow {
      left: 15px; }
      .__popup-with-carousel .popup-carousel .slick-arrow.prev-arrow::before {
        border-style: solid;
        border-color: #ffffff;
        border-width: 2px 2px 0 0;
        content: '';
        display: inline-block;
        height: 30px;
        width: 30px;
        top: 0px;
        left: 0px;
        position: relative;
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
        transition: all .3s; }
      @media (max-width: 767px) {
        .__popup-with-carousel .popup-carousel .slick-arrow.prev-arrow {
          left: 8px; } }
    .__popup-with-carousel .popup-carousel .slick-arrow.next-arrow {
      right: 15px; }
      .__popup-with-carousel .popup-carousel .slick-arrow.next-arrow::before {
        border-style: solid;
        border-color: #ffffff;
        border-width: 2px 2px 0 0;
        content: '';
        display: inline-block;
        height: 30px;
        width: 30px;
        top: 0px;
        left: 0px;
        position: relative;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        transition: all .3s; }
      @media (max-width: 767px) {
        .__popup-with-carousel .popup-carousel .slick-arrow.next-arrow {
          right: 8px; } }
  .__popup-with-carousel .popup-carousel ._carousel_item {
    background-color: #eeeeee;
    width: 100%;
    padding-bottom: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    @media (max-width: 991px) {
      .__popup-with-carousel .popup-carousel ._carousel_item {
        height: auto;
        padding-bottom: 75%; } }

#popup-contact .mp-outer {
  background: transparent;
  height: auto; }

#popup-contact .mp-inner {
  background-color: #ffffff;
  padding: 80px 100px; }
  @media (max-width: 991px) {
    #popup-contact .mp-inner {
      padding: 60px 60px; } }
  @media (max-width: 767px) {
    #popup-contact .mp-inner {
      padding: 40px 0; } }

#popup-contact .sp-close {
  right: 24px; }
  @media (max-width: 767px) {
    #popup-contact .sp-close {
      right: 6px; } }

#popup-contact ._heading {
  font-size: 50px;
  line-height: 50px;
  margin: 0 0 30px 0; }
  @media (max-width: 767px) {
    #popup-contact ._heading {
      font-size: 25px;
      line-height: 25px;
      margin: 0 0 15px 0; } }

#popup-contact ._subheading {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  margin: 0 0 45px 0; }
  @media (max-width: 767px) {
    #popup-contact ._subheading {
      margin: 0 0 20px 0;
      font-size: 12px;
      line-height: 18px; } }

#popup-contact .scroll-container {
  position: relative;
  padding: 0px;
  overflow-x: hidden; }
  @media (max-width: 767px) {
    #popup-contact .scroll-container {
      height: 75vh; } }

#popup-contact .form-wrap {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box; }
  @media (max-width: 767px) {
    #popup-contact .form-wrap {
      padding: 0 15px; } }

#popup-contact.email-sent #contact-form {
  display: none; }

#popup-contact:not(.email-sent) ._thank-you {
  display: none; }

#popup-contact.sending ._send {
  display: none; }

#popup-contact:not(.sending) ._sending {
  display: none; }

#popup-contact ._thank-you h3 {
  font-size: 24px;
  line-height: 24px;
  margin: 20px 0;
  color: #ed1c24; }
  @media (max-width: 767px) {
    #popup-contact ._thank-you h3 {
      font-size: 20px;
      line-height: 24px; } }

#popup-contact ._thank-you p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  font-weight: 300; }
  @media (max-width: 767px) {
    #popup-contact ._thank-you p {
      font-size: 12px;
      line-height: 16px; } }

#contact-form {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin: 0 -10px 0 -10px; }
  #contact-form ._col {
    padding: 0 10px;
    box-sizing: border-box; }
    #contact-form ._col ._col {
      padding: 0 0; }
  #contact-form ._submit-btn {
    font-size: 22px;
    width: 100%;
    height: 60px;
    max-width: 260px;
    letter-spacing: 2px;
    margin: 20px 0 0 0; }
    @media (max-width: 767px) {
      #contact-form ._submit-btn {
        max-width: unset;
        font-size: 16px;
        margin: 15px 0 0 0;
        height: 50px; } }
  #contact-form #description {
    height: 170px; }
    @media (max-width: 767px) {
      #contact-form #description {
        height: 100px; } }

.hexagon {
  width: 6.45vh;
  height: 10vh;
  background-image: linear-gradient(90deg, #c11218, #ed1c24);
  border-radius: 1vh;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
  -webkit-animation: hex-spin 10s infinite;
          animation: hex-spin 10s infinite; }
  .hexagon:before, .hexagon:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-image: inherit;
    border-radius: inherit; }
  .hexagon:before {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg); }
  .hexagon:after {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg); }

.self-center {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

@-webkit-keyframes go-forth {
  100% {
    -webkit-transform: translate(25rem, 7.5rem);
            transform: translate(25rem, 7.5rem); } }

@keyframes go-forth {
  100% {
    -webkit-transform: translate(25rem, 7.5rem);
            transform: translate(25rem, 7.5rem); } }

@-webkit-keyframes hex-spin {
  16.66% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg); }
  33.33% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  66.66% {
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg); }
  83.33% {
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes hex-spin {
  16.66% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg); }
  33.33% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  66.66% {
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg); }
  83.33% {
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

#back-to-top {
  background-image: url(../imgs/btn_back-top.png);
  bottom: calc(1vw + 100px + 22px); }
  @media (max-width: 1400px) {
    #back-to-top {
      bottom: calc(1vw + 83.33333px + 20px); } }
  @media (max-width: 767px) {
    #back-to-top {
      bottom: calc(1vw + 80px); } }
  @media (max-width: 575px) {
    #back-to-top {
      bottom: calc(1vw + 70px); } }

#get-in-touch {
  background-image: url(../imgs/btn_contact.png); }

.bottom-btn {
  position: fixed;
  right: 1vw;
  bottom: 1vw;
  width: 100px;
  height: 110.4px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 9;
  cursor: pointer;
  transition: all .5s;
  opacity: 0; }
  body.scrolled-far.scrolling .bottom-btn {
    opacity: 1; }
  body.scrolled-far .bottom-btn:hover {
    opacity: .75 !important; }
  @media (max-width: 1400px) {
    .bottom-btn {
      width: 83.33333px;
      height: 92px; } }
  @media (max-width: 767px) {
    .bottom-btn {
      width: 60px;
      height: 68px;
      right: 2.5vw;
      bottom: 2vw; } }
  @media (max-width: 575px) {
    .bottom-btn {
      width: 56px;
      height: 64px; } }

.btn-primary {
  background-image: linear-gradient(-90deg, #c11218, #ed1c24);
  color: #ffffff;
  cursor: pointer;
  font-weight: 300;
  transition: all .25s;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn-primary:disabled {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    opacity: .5; }
  .btn-primary:hover {
    opacity: .75; }

.header-section {
  text-transform: uppercase;
  font-family: "Helvetica Neue Condensed", sans-serif;
  font-size: 50px;
  line-height: 56px;
  text-align: center;
  margin: 60px 0 60px 0;
  letter-spacing: 1px;
  position: relative;
  z-index: 1; }
  @media (max-width: 767px) {
    .header-section {
      font-size: 25px;
      line-height: 31px;
      margin: 30px 0 30px 0; } }

.form-item {
  margin: 0 0 30px 0;
  position: relative;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex; }
  @media (max-width: 767px) {
    .form-item {
      width: 100%;
      font-size: 14px;
      line-height: 14px;
      margin: 0 0 20px 0; } }
  .form-item label {
    color: #7f7f7f;
    position: absolute;
    cursor: text; }
    .form-item label.label {
      font-size: 22px;
      line-height: 22px;
      font-weight: 300;
      transition: all .2s;
      top: 16px;
      left: 18px;
      z-index: -1;
      letter-spacing: 4px; }
      @media (max-width: 767px) {
        .form-item label.label {
          font-size: 14px;
          top: 10px;
          left: 10px; } }
    .form-item label.error, .form-item label.caption {
      position: absolute;
      top: unset;
      left: 0;
      bottom: -21px;
      font-size: 16px;
      color: #7f7f7f;
      letter-spacing: 1px; }
      @media (max-width: 991px) {
        .form-item label.error, .form-item label.caption {
          bottom: -14px;
          font-size: 10px; } }
    .form-item label.error {
      color: #DE0000; }
      .form-item label.error ~ .caption {
        display: none; }
  .form-item .ml-input {
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 17px 4px 17px;
    line-height: 20px;
    height: 70px;
    font-size: 24px;
    border: 1px solid #cccccc;
    background-color: transparent !important;
    letter-spacing: 2px;
    -webkit-appearance: none; }
    .form-item .ml-input:-webkit-autofill, .form-item .ml-input:-webkit-autofill:hover, .form-item .ml-input:-webkit-autofill:focus, .form-item .ml-input:-webkit-autofill:active {
      background-color: transparent;
      -webkit-animation: autofill 0s forwards;
              animation: autofill 0s forwards; }
    @media (max-width: 767px) {
      .form-item .ml-input {
        height: 40px;
        padding: 20px 9px 4px 9px;
        font-size: 14px;
        letter-spacing: 1.5px; } }
    .form-item .ml-input:focus {
      border-color: #ed1c24;
      outline: none;
      color: #ed1c24; }
    .form-item .ml-input.hidden {
      display: none; }
    .form-item .ml-input.error {
      border-color: #DE0000;
      border-style: dotted; }
    .form-item .ml-input:disabled {
      border-color: #f3f3f3;
      color: #cccccc; }
      .form-item .ml-input:disabled ~ .label {
        color: #cccccc; }
        .form-item .ml-input:disabled ~ .label .color-danger {
          color: #cccccc; }
      .form-item .ml-input:disabled + .icon-wrap {
        opacity: .2; }
  .form-item textarea.ml-input {
    height: unset;
    padding-top: 32px;
    line-height: 28px; }
    @media (max-width: 767px) {
      .form-item textarea.ml-input {
        line-height: 17px;
        letter-spacing: 0;
        padding: 18px 9px 11px 9px; } }
  .form-item .ml-input:focus ~ .label, .form-item.has-value .label {
    font-size: 18px;
    top: 8px; }
    @media (max-width: 767px) {
      .form-item .ml-input:focus ~ .label, .form-item.has-value .label {
        top: 6px;
        font-size: 10px;
        line-height: 10px; } }
